﻿@model HrmDefUserModel;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
@{
    Layout = null;
    var Selectedlanguage = httpContextaccessor.HttpContext.Session.GetString("CurrentCulture") ?? "en";

    var languages = new List<SelectListItem>() {
        new SelectListItem(){ Value="en",Text=ViewResources.Resource.English, Selected=(Selectedlanguage=="en")},
        new SelectListItem(){ Value="ar",Text=ViewResources.Resource.Arabic,Selected=(Selectedlanguage=="ar")},
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewResources.Resource.HRMLogin</title>
    <link rel="icon" href="~/images/favicon.jpg" src="../images/favicon.jpg">
    <link href="~/css/style-bsing.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="login-bg">
        <div class="main-center-bg">
            <div class="left-side-img"><img src="/images/img-left.jpg" width="610" height="420" /></div>
            <div class="right-side-language">
                <form asp-controller="Base" asp-action="ChangeCulture">
                    <select class="form-control select-leu" asp-for="ddlCulture" asp-items="@languages" onchange="this.form.submit();">
                    </select>
                </form>
            </div>
            <div class="right-side-login">
                <div>
                    <img src="/images/logo.png" />
                </div>
                <h2 class="h2">@ViewResources.Resource.SIGNIN</h2>
                <p class="p-text">@ViewResources.Resource.SigninText</p>
                <form asp-controller="Home" asp-action="Index" method="post">
                    <div class="form-group">
                        <input type="text" asp-for="UserName" class="form-control-input" placeholder="@ViewResources.Resource.UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="UserPassword" class="form-control-input" placeholder="@ViewResources.Resource.Password" />
                        <span asp-validation-for="UserPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-primarynew">@ViewResources.Resource.SIGNIN</button>
                </form>
                @*<p class="forget"><a href="#">   <b class="h4" style="color:black">@ViewResources.Resource.ForgotPassword?</b></a> </p> <br />
                    <p class="forget field-validation-error">@Model.ErrorMessage</p>*@
            </div>
        </div>
    </div>
    <script src="~/Scripts/Common/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

