﻿@model DMC.HRM.Entities.ResponseModels.HrmTranEmployeePhoneModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="modal-dialog margin-modalPopup modal-lg">
    <div class="modal-content">
        <div class="modal-header modal-header-new">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@(Model.PhoneId == 0 ? ViewResources.Resource.AddEmployeePhone : ViewResources.Resource.UpdateEmployeePhone) </h4>
        </div>
        @using (Html.BeginForm("UpdateEmployeePhoneInfo", "Employee", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.EmployeeId)
            @Html.HiddenFor(x => x.PhoneId)
        <div class="container-fluid">
            <h4 class="h4-new">@ViewResources.Resource.PhoneInfo</h4>
            <div class="col-lg-5 pull-left">
                <div class="form-group per-form">
                    <label class="label-new1">@ViewResources.Resource.PhoneType<span class="text-danger">*</span></label>
                    <select class="form-control" asp-for="PhoneTypeId" asp-items="@(new SelectList(Model.PhoneTypes,"Value", "Text"))" required>
                        <option value="">@ViewResources.Resource.select</option>
                    </select>
                    <span asp-validation-for="PhoneTypeId" class="text-danger"></span>
                </div>
                <div class="form-group per-form">
                    <label class="label-new1">@ViewResources.Resource.Country<span class="text-danger">*</span></label>
                    <select class="form-control" asp-for="CountryId" asp-items="@(new SelectList(Model.Countries,"Value", "Text"))" required>
                        <option value="">@ViewResources.Resource.select</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-5 pull-left-new">
                <div class="form-group per-form">
                    @*Test*@
                    <label class="label-new1">@ViewResources.Resource.AreaCode</label>
                    <input type="text" asp-for="AreaCode" class="form-control" />
                </div>
                <div class="form-group per-form">
                    <label class="label-new1 ">@ViewResources.Resource.PhoneNumber<span class="text-danger">*</span></label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4 pull-right">
                <p class="pull-right buton-h1"><button href="#" class="border-btn-none" title="Cancel" data-dismiss="modal"><img src="~/images/cancel.jpg" /></button></p>
                <p class="pull-right buton-h1"><button type="submit" class="border-btn-none" title="Save"><img src="~/images/save.jpg" /></button></p>
            </div>
        </div>
        }
    </div>
</div>







