﻿@model DMC.HRM.Entities.ResponseModels.HrmTranMapToContactInfoModel

@{

    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<form asp-controller="Employee" asp-action="UpdateMapToContactInfo" method="post">
    <div class="modal-dialog margin-modalPopup modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-new">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@(Model.MapContactInfoId == 0 ? ViewResources.Resource.AddContact : ViewResources.Resource.UpdateContact) </h4>
            </div>
            <div class="modal-body11111">
                <div class="container-fluid">
                    <input type="hidden" asp-for="@Model.EmployeeId" />
                    <input type="hidden" asp-for="@Model.ContactInfoId" />
                    <input type="hidden" asp-for="@Model.MapContactInfoId" />

                    <h4 class="h4-new">@ViewResources.Resource.ContactInfo</h4>
                    <div class="col-lg-5 pull-left" style=" margin:20px 0px;">
                        <div class="form-group per-form">
                            <label class="label-new1">@ViewResources.Resource.EmployeeNumber</label>
                            <input type="text" class="form-control" asp-for="@Model.EmployeeNumber" readonly>
                        </div>
                        <div class="form-group per-form">
                            <label for="exampleInputEmail1" class="label-new1">@ViewResources.Resource.ContactPersonName<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="@Model.ContactPersonName">
                            <span asp-validation-for="@Model.ContactPersonName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="label-new1 ">@ViewResources.Resource.ContactAddress</label>
                            <input type="text" class="form-control" asp-for="@Model.ContactAddress">
                        </div>
                        <div class="form-group">
                            <label class="label-new1 ">@ViewResources.Resource.IsFamily ?</label>
                            <div class="radio">
                                <div class="col-lg-3 pull-left">
                                    <input type="radio" required asp-for="IsFamily" class="radio-margin" value="false" />
                                    <label for="IsEmergency">
                                        &nbsp;@ViewResources.Resource.No
                                    </label>
                                </div>
                                <div class="col-lg-3 pull-left">
                                    <input type="radio" required asp-for="IsFamily" class="radio-margin" value="true" />
                                    <label for="IsEmergency">
                                        &nbsp; Yes
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 pull-left-new" style=" margin:15px 0px;">
                        <div class="form-group per-form">
                            <label class="label-new1 ">@ViewResources.Resource.ContactNumber<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="@Model.ConatactNumber">
                            <span asp-validation-for="@Model.ConatactNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="label-new1 ">@ViewResources.Resource.Remarks</label>
                            <textarea asp-for="@Model.Remarks" class="form-control"></textarea>
                        </div>

                        <div class="form-group per-form">
                            <label class="label-new1">@ViewResources.Resource.IsEmergency ?</label>
                            <div class="radio">
                                <div class="col-lg-3 pull-left ">
                                    <input type="radio" required asp-for="IsEmergency" class="radio-margin" value="false" />
                                    <label for="IsEmergency">
                                        &nbsp;@ViewResources.Resource.No
                                    </label>
                                </div>
                                <div class="col-lg-3 pull-left">
                                    <input type="radio" required asp-for="IsEmergency" class="radio-margin" value="true" />
                                    <label for="IsEmergency">
                                        &nbsp;@ViewResources.Resource.Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 pull-right">
                    <p class="pull-right buton-h1"><button href="#" class="border-btn-none" title="Cancel" data-dismiss="modal"><img src="~/images/cancel.jpg" /></button></p>
                    <p class="pull-right buton-h1"><button type="submit" class="border-btn-none" title="Save"><img src="~/images/save.jpg" /></button></p>
                </div>
            </div>
        </div>
    </div>
</form>