﻿@model DMC.HRM.Entities.HrmTranEmployeeDependantModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="modal-dialog margin-modalPopup modal-lg">
    <div class="modal-content">
        <div class="modal-header modal-header-new">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@(Model.EmployeeDependantId == 0 ? ViewResources.Resource.AddEmployeeDependent : ViewResources.Resource.UpdateEmployeeDependant) </h4>
        </div>
        <form asp-controller="Employee" asp-action="AddUpdateEmployeeDependant" method="post">
            @*@Html.HiddenFor(x => x.EmployeePicture)*@
            <div class="container-fluid">
                <h4 class="h4-new">@ViewResources.Resource.DependentInfo</h4>
                <div class="col-lg-4 ">
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.EmployeeNumber</label>
                        <input type="text" asp-for="EmployeeNumber" class="form-control" readonly />
                        <input type="hidden" asp-for="EmployeeId" />
                        <input type="hidden" asp-for="EmployeeDependantId" />
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.EmployeeDependantType<span class="text-danger">*</span></label>
                        <select class="form-control" asp-for="DependantTypeId"
                                asp-items="@(new SelectList(Model.DependantTypes, "DependantTypeId", "DependantTypeNameEn"))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="DependantTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.UseEmployeeAddress</label>
                        <select class="form-control" asp-for="UseEmployeeAddress"
                                asp-items="@(new SelectList(Model.YesOrNoDropDown, "Value", "Text"))" onchange="GetEmployeeAddress('@Model.EmployeeId',this.value);">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.AddressType</label>
                        <select class="form-control" asp-for="AddressTypeId"
                                asp-items="@(new SelectList(Model.AddressTypes, "AddressTypeId", "AddressTypeNameEn"))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1 ">@ViewResources.Resource.IDNumber</label>
                        <input type="text" class="form-control" asp-for="IqamaNumber" />
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.IDExpiryDate_Gre<span class="text-danger">*</span></label>
                        <div id="cal_IqamaExpiryDate_EN">
                            <input type="text" asp-for="IqamaExpiryDateEn" class="form-control" id="date_IqamaExpiryDate_EN" readonly onclick="datePicker('date_IqamaExpiryDate_EN', 'date_IqamaExpiryDate_AR', 'cal_IqamaExpiryDate_EN', 'cal_IqamaExpiryDate_AR', '1');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_IqamaExpiryDate_EN', 'date_IqamaExpiryDate_AR', 'cal_IqamaExpiryDate_EN', 'cal_IqamaExpiryDate_AR', '1');">&#x25a6;</button>
                        </div>
                        <label class="label-new1">@ViewResources.Resource.IDExpiryDate_Hij</label>
                        <div id="cal_IqamaExpiryDate_AR">
                            <input type="text" asp-for="IqamaExpiryDateAr" class="form-control" id="date_IqamaExpiryDate_AR" readonly onclick="datePicker('date_IqamaExpiryDate_EN', 'date_IqamaExpiryDate_AR', 'cal_IqamaExpiryDate_EN', 'cal_IqamaExpiryDate_AR', '2');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_IqamaExpiryDate_EN', 'date_IqamaExpiryDate_AR', 'cal_IqamaExpiryDate_EN', 'cal_IqamaExpiryDate_AR', '2');">&#x25a6;</button>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="label-new1 ">@ViewResources.Resource.AddressLine1</label>
                        <textarea asp-for="AddressLine1" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-4 pull-left">
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.Gender</label>
                        <select class="form-control" asp-for="GenderId"
                                asp-items="@(new SelectList(Model.Genders, "GenderId", "GenderNameEn"))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1 ">@ViewResources.Resource.PhoneNumber</label>
                        <input type="text" asp-for="PhoneNumber" class="form-control" />
                    </div>
                    <div class="form-group ">
                        @*Test*@
                        <label class="label-new1">@ViewResources.Resource.FirstName<span class="text-danger">*</span></label>
                        <input type="text" asp-for="FirstNameEn" class="form-control" />
                        <span asp-validation-for="FirstNameEn" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1 ">@(ViewResources.Resource.NameInID + "(En)")</label>
                        <input type="text" asp-for="NameInIqamaEn" class="form-control" />
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.PassportExpiryDate_Gre </label>
                        <div id="cal_PassportExpiryDate_EN">
                            <input type="text" asp-for="PassportExpiryDateEn" class="form-control" id="date_PassportExpiryDate_EN" readonly onclick="datePicker('date_PassportExpiryDate_EN', 'date_PassportExpiryDate_AR', 'cal_PassportExpiryDate_EN', 'cal_PassportExpiryDate_AR', '1');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_PassportExpiryDate_EN', 'date_PassportExpiryDate_AR', 'cal_PassportExpiryDate_EN', 'cal_PassportExpiryDate_AR', '1');">&#x25a6;</button>
                        </div>
                        <label class="label-new1">@ViewResources.Resource.PassportExpiryDate_Hij</label>
                        <div id="cal_PassportExpiryDate_AR">
                            <input type="text" asp-for="PassportExpiryDateAr" class="form-control" id="date_PassportExpiryDate_AR" readonly onclick="datePicker('date_PassportExpiryDate_EN', 'date_PassportExpiryDate_AR', 'cal_PassportExpiryDate_EN', 'cal_PassportExpiryDate_AR', '2');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_PassportExpiryDate_EN', 'date_PassportExpiryDate_AR', 'cal_PassportExpiryDate_EN', 'cal_PassportExpiryDate_AR', '2');">&#x25a6;</button>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.EligibleForExitReentry</label>
                        <select class="form-control" asp-for="EligibleForExitReentry"
                                asp-items="@(new SelectList(Model.YesOrNoDropDown, "Value", "Text"))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 pull-left-new">
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.DateOfBirth_Gre<span class="text-danger">*</span></label>
                        <div id="cal_DateOfBirth_EN">
                            <input type="text" asp-for="DateOfBirthEn" class="form-control" id="date_DateOfBirth_EN" readonly onclick="datePicker('date_DateOfBirth_EN', 'date_DateOfBirth_AR', 'cal_DateOfBirth_EN', 'cal_DateOfBirth_AR', '1');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_DateOfBirth_EN', 'date_DateOfBirth_AR', 'cal_DateOfBirth_EN', 'cal_DateOfBirth_AR', '1');">&#x25a6;</button>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.DateOfBirth_Hij</label>
                        <div id="cal_DateOfBirth_AR">
                            <input type="text" asp-for="DateOfBirthAr" class="form-control" id="date_DateOfBirth_AR" readonly onclick="datePicker('date_DateOfBirth_EN', 'date_DateOfBirth_AR', 'cal_DateOfBirth_EN', 'cal_DateOfBirth_AR', '2');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_DateOfBirth_EN', 'date_DateOfBirth_AR', 'cal_DateOfBirth_EN', 'cal_DateOfBirth_AR', '2');">&#x25a6;</button>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@(ViewResources.Resource.NameInID + "(Ar)")</label>
                        <input type="text" asp-for="NameInIqamaAr" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-4 pull-left-new">
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.EligibleForTicket</label>
                        <select class="form-control" asp-for="EligibleForTicket" onchange="ValidateTicketEligible(this.value)"
                                asp-items="@(new SelectList(Model.YesOrNoDropDown, "Value", "Text"))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.EligibleForSchooling</label>
                        <select class="form-control" asp-for="EligibleForSchooling"
                                asp-items="@(new SelectList(Model.YesOrNoDropDown, "Value", "Text"))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.EligibleForInsurance</label>
                        <select class="form-control" asp-for="EligibleForInsurance"
                                asp-items="@(new SelectList(Model.YesOrNoDropDown, "Value", "Text"))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="label-new1">@ViewResources.Resource.AddressLine2</label>
                        <textarea asp-for="AddressLine2" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 pull-right">
                    <p class="pull-right buton-h1"><button href="#" class="border-btn-none" title="Cancel" data-dismiss="modal"><img src="~/images/cancel.png" /></button></p>
                    <p class="pull-right buton-h1"><button type="submit" class="border-btn-none" title="Save"><img src="~/images/save.jpg" /></button></p>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/Common/hijri-date.js"></script>
<script src="~/Scripts/Common/calendar.js"></script>
<script src="~/Scripts/Common/CustomDatePicker.js"></script>

<script>

    //$(document).ready(function () {

    //    $.datepicker.setDefaults($.datepicker.regional[""]);//to gregorian format
    //    $('#datePicker,#datePicker2,#datePicker3').datepicker({
    //        format: "yyyy-mm-dd",
    //        //isRTL: true
    //    });
    //});


    function ValidateTicketEligible(value)
    {
        if (value == "1")
        {
            BootstrapDialog.show({
                title: 'Confirmation',
                message: 'Do you want to Make Ticket For this Dependent ?',
                buttons: [
                    {
                        label: 'Yes',
                        cssClass: 'btn-success',
                        action: function (dialog) {
                            var employeeID = $("#EmployeeID").val();
                            var url = '@Url.Action("ValidateIsEligibleForTicket", "EmployeeDependant")?flag=' + value + '&employeeId=' + employeeID;
                            $.post(url, function (data) {
                                debugger;
                                if (data.EligibleForTicket == "true") {
                                    //BootstrapDialog.show({
                                    //    message: 'We cant Add'

                                    //});
                                    BootstrapDialog.alert('Sorry We cant Add because tikcets are not available!');
                                    $('#EligibleForTicket').prop('selectedIndex', 2);
                                    dialog.close();
                                }
                                else {
                                    dialog.close();

                                }
                            });

                        }
                    }
                ]
            });
        }
    }

    function GetEmployeeAddress(employeeID, dropdownValue) {

        if (dropdownValue !== "0") {
            var url = '@Url.Action("GetEmployeeAddress", "EmployeeDependant")' + '?employeeID=' + employeeID + '&dropdownValue=' + dropdownValue;
            debugger;
            $.post(url, function (data) {
                if (data !== 0) {
                    $("#AddressLine1").val(data.AddressLine1);
                    $("#AddressLine2").val(data.AddressLine2);
                }
                else {
                    $("#AddressLine1").val("");
                    $("#AddressLine2").val("");
                }
            });
        }

    }
</script>