﻿@model DMC.HRM.Entities.ResponseModels.EducationInfoModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="modal-dialog margin-modalPopup modal-lg">
    <div class="modal-content">
        <div class="modal-header modal-header-new">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@(Model.EducationId == 0 ? ViewResources.Resource.AddEducationInfo : ViewResources.Resource.UpdateEducation) </h4>
        </div>
        @using (Html.BeginForm("UpdateEmployeeEducationInfo", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.EmployeeId)
            @Html.HiddenFor(x => x.EducationId)
            <div class="container-fluid">
                <h4 class="h4-new">@ViewResources.Resource.EducationInfo</h4>
                <div class="col-lg-5 pull-left">
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.Degree<span class="text-danger">*</span></label>
                        <select class="form-control" data-size="7" asp-for="DegreeId"
                                asp-items="@(new SelectList(Model.DegreeDropDown,"Value", "Text"))" required>
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="DegreeId" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.YearOfCertification<span class="text-danger">*</span></label>
                        <div id="cal_YearOfCertification_EN">
                            <input type="text" asp-for="YearOfCertification_EN" class="form-control" id="date_YearOfCertification_EN" readonly="read-only" onclick="datePicker('date_YearOfCertification_EN', 'date_YearOfCertification_AR', 'cal_YearOfCertification_EN', 'cal_YearOfCertification_AR', '1');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_YearOfCertification_EN', 'date_YearOfCertification_AR', 'cal_YearOfCertification_EN', 'cal_YearOfCertification_AR', '1');">&#x25a6;</button>
                            <span asp-validation-for="YearOfCertification_EN" class="text-danger"></span>
                        </div>
                        <label class="label-new1">@ViewResources.Resource.YearOfCertification_AR</label>
                        <div id="cal_YearOfCertification_AR">
                            <input type="text" asp-for="YearOfCertification_AR" class="form-control" id="date_YearOfCertification_AR" readonly="read-only" onclick="datePicker('date_yearofCertification_EN', 'date_yearofCertification_AR', 'cal_YearofCertification_EN', cal_YearofCertification_AR', '2');" />
                            <button type="button" class="icon-button" onclick="datePicker('date_YearOfCertification_EN', 'date_YearOfCertification_AR', 'cal_YearOfCertification_EN', 'cal_YearOfCertification_AR', '2');">&#x25a6;</button>
                        </div>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.Country<span class="text-danger">*</span></label>
                        <select class="form-control" data-size="7" asp-for="CountryID"
                                asp-items="@(new SelectList(Model.CountryDropDown,"Value", "Text"))" required>
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="CountryID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-5 pull-left-new">
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.Qualification<span class="text-danger">*</span></label>
                        <input type="text" asp-for="Qualification" class="form-control" />
                        <span asp-validation-for="Qualification" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.CollegeOrUniversity<span class="text-danger">*</span></label>
                        <input type="text" asp-for="CollegeOrUniversity" class="form-control" />
                        <span asp-validation-for="CollegeOrUniversity" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.CourseType<span class="text-danger">*</span></label>
                        <select class="form-control" data-size="7" asp-for="CourseTypeID"
                                asp-items="@(new SelectList(Model.CourseTypeDropDown,"Value", "Text"))" required>
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="CourseTypeID" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.Remarks</label>
                        <textarea asp-for="Remarks" class="form-control" cols="20" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 pull-right">
                    <p class="pull-right buton-h1"><button href="#" class="border-btn-none" title="Cancel" data-dismiss="modal"><img src="~/images/cancel.jpg" /></button></p>
                    <p class="pull-right buton-h1"><button type="submit" class="border-btn-none" title="Save"><img src="~/images/save.jpg" /></button></p>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/Common/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/Scripts/Common/hijri-date.js"></script>
<script src="~/Scripts/Common/calendar.js"></script>
<script src="~/Scripts/Common/CustomDatePicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var certificationDate_En = $("#date_YearOfCertification_EN").val();
        if (certificationDate_En != undefined && certificationDate_En != "" && certificationDate_En != null) {
            datePickerForArabic('date_YearOfCertification_EN', 'date_YearOfCertification_AR', 'cal_YearOfCertification_EN', 'cal_YearOfCertification_AR', '1');
        }
    });
</script>



