﻿@model DMC.HRM.Entities.ResponseModels.HrmTranEmployeeAddressModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="modal-dialog margin-modalPopup modal-lg">
    <div class="modal-content">
        <div class="modal-header modal-header-new">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@(Model.EmployeeAddressId == 0 ? ViewResources.Resource.AddEmployeeAddress : ViewResources.Resource.UpdateEmployeeAddress) </h4>
        </div>
        @using (Html.BeginForm("UpdateEmployeeAddress", "Employee", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.EmployeeAddressId)
            @Html.HiddenFor(x => x.EmployeeId)
            <div class="container-fluid">
                <h4 class="h4-new">@ViewResources.Resource.AddressInfo</h4>
                <div class="col-lg-5 pull-left">
                   
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.AddressType<span class="text-danger">*</span></label>
                        <select class="form-control" data-size="7" asp-for="AddressTypeId"
                                asp-items="@(new SelectList(Model.AddressTypes,"Value", "Text"))" required>
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="AddressTypeId" class="text-danger"></span>

                    </div>

                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.AddressLine1<span class="text-danger">*</span></label>
                        <input type="text" asp-for="AddressLine1" class="form-control" />
                        <span asp-validation-for="AddressLine1" class="text-danger"></span>
                    </div>

                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.AddressLine2 </label>
                        <input type="text" asp-for="AddressLine2" class="form-control" />
                        <span asp-validation-for="AddressLine2" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-5 pull-left-new ">
                    <div class="form-group per-form">

                        <label class="label-new1">@ViewResources.Resource.Country<span class="text-danger">*</span></label>
                        <select class="form-control" data-size="7" asp-for="CountryId"
                                asp-items="@(new SelectList(Model.Countries,"Value", "Text"))" required>
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>

                    <div class="form-group per-form">
                        <label class="label-new1  ">@ViewResources.Resource.City<span class="text-danger">*</span></label>
                        <input type="text" asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1  ">@ViewResources.Resource.POBox</label>
                        <input type="text" asp-for="Pobox" class="form-control" />
                        <span asp-validation-for="Pobox" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-4 pull-right">
                    <p class="pull-right buton-h1"><button href="#" class="border-btn-none" title="Cancel" data-dismiss="modal"><img src="~/images/cancel.jpg" /></button></p>
                    <p class="pull-right buton-h1"><button type="submit" class="border-btn-none" title="Save"><img src="~/images/save.jpg" /></button></p>
                </div>
            </div>
        }
    </div>
</div>









