﻿@model DMC.HRM.UI.Models.HrmTranDocumentsInfoModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
@{
    Layout = null;
    var language = httpContextaccessor.HttpContext.Session.GetString("CurrentCulture") ?? "en";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="modal-dialog margin-modalPopup modal-lg">
    <div class="modal-content">
        <div class="modal-header modal-header-new">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@(Model.DocumentId == 0 ? ViewResources.Resource.AddDocuments : ViewResources.Resource.UpdateDocuments) </h4>
        </div>
        <form asp-controller="Employee" id="formaddeditdoc" asp-action="UpdateDocumentInfo" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.EmployeeId" />
            <input type="hidden" asp-for="@Model.DocumentId" />
            <div class="container-fluid">
                <h4 class="h4-new">@ViewResources.Resource.Document</h4>
                <div class="col-lg-5 pull-left">
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.EmployeeNumber</label>
                        <input type="text" class="form-control" asp-for="EmployeeNumber" readonly>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.DocumentType<span class="text-danger">*</span></label>
                        <select class="form-control" asp-for="DocumentTypeId" asp-items="@(new SelectList(Model.DocumentTypes,"DocumentTypeId", (language=="en"? "DocumentTypeNameEn":"DocumentTypeNameAr")))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.NameInDocument<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="@Model.NameInDocument">
                        <span asp-validation-for="NameInDocument" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.DocumentOwner<span class="text-danger">*</span></label>
                        <select class="form-control" asp-for="DocumentOwnerId" asp-items="@(new SelectList(Model.DocumentOwners,"DocumentOwnerId", (language=="en"? "DocumentOwnerNameEn":"DocumentOwnerNameAr")))">
                            <option value="">@ViewResources.Resource.select</option>
                        </select>
                        <span asp-validation-for="DocumentOwnerId" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.IssueDate_EN<span class="text-danger">*</span></label>
                        <div id="cal_IssueDate_EN">
                            <input type="text" class="form-control" asp-for="@Model.IssueDateEn" id="date_IssueDate_EN" onclick="datePicker('date_IssueDate_EN', 'date_IssueDate_AR', 'cal_IssueDate_EN', 'cal_IssueDate_AR', '1');" readonly>
                            <button type="button" class="icon-button" onclick="datePicker('date_IssueDate_EN', 'date_IssueDate_AR', 'cal_IssueDate_EN', 'cal_IssueDate_AR', '1');">&#x25a6;</button>
                            <span asp-validation-for="IssueDateEn" class="text-danger"></span>

                        </div>
                        <label for="exampleInputEmail1" class="label-new1 ">@ViewResources.Resource.IssueDate_AR<span class="text-danger">*</span></label>
                        <div id="cal_IssueDate_AR">
                            <input type="text" class="form-control" asp-for="@Model.IssueDateAr" id="date_IssueDate_AR" onclick="datePicker('date_IssueDate_EN', 'date_IssueDate_AR', 'cal_IssueDate_EN', 'cal_IssueDate_AR', '2');" readonly>
                            <button type="button" class="icon-button" onclick="datePicker('date_IssueDate_EN', 'date_IssueDate_AR', 'cal_IssueDate_EN', 'cal_IssueDate_AR', '2');">&#x25a6;</button>
                        </div>
                    </div>

                    <div class="form-group per-form">
                        <label for="exampleInputEmail1" class="label-new1 ">@ViewResources.Resource.Costing<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Costing"><div class="pull-right icon-button hrm-srm">SR</div>
                        <span asp-validation-for="Costing" class="text-danger"></span>
                    </div>

                    <div class="form-group per-form">
                        <label for="exampleInputEmail1" class="label-new1 "><a href="#"> @ViewResources.Resource.contentattachment </a> </label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    @ViewResources.Resource.ScannedDocument <input type="file" class="form-control" asp-for="ImageUpload" id="documentfile" value="bvbv" onchange="ValidateExtension();">
                                </span>
                            </span>

                            <input type="text" class="form-control" value="@Model.ShortScannedDocument" readonly>
                        </div>
                        @*<h5 class="colorRed"> @Html.ValidationMessageFor(x => x.ImageUpload)</h5>*@
                        <div id="element">
                            <img id="img-upload" src='~/File/Documents/@Model.ScannedDocument' style="height:70px;width:70px;" />
                        </div>
                        <div class="container" id="divpreview" style="display:none;">
                            <br />
                            <div class="row">
                                <a class="btn btn-primary view-pdf" id="anchviewpdf">View PDF</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 pull-left-new">
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.DocumentNumber<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="DocumentNumber">
                        <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label for="exampleInputEmail1" class="label-new1 ">@ViewResources.Resource.IssueLocation<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="IssueLocation">
                        <span asp-validation-for="IssueLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label for="exampleInputEmail1" class="label-new1">@ViewResources.Resource.ProfessionInIqama<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="ProfessionInIqama">
                        <span asp-validation-for="ProfessionInIqama" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.ExpiryDate_EN<span class="text-danger">*</span></label>
                        <div id="cal_ExpiryDate_EN">
                            <input type="text" class="form-control" asp-for="ExpiryDateEn" id="date_ExpiryDate_EN" onclick="datePicker('date_ExpiryDate_EN', 'date_ExpiryDate_AR', 'cal_ExpiryDate_EN', 'cal_ExpiryDate_AR', '1');" readonly>
                            <button type="button" class="icon-button" onclick="datePicker('date_ExpiryDate_EN', 'date_ExpiryDate_AR', 'cal_ExpiryDate_EN', 'cal_ExpiryDate_AR', '1');">&#x25a6;</button>
                            <span asp-validation-for="ExpiryDateEn" class="text-danger"></span>
                        </div>
                        <label class="label-new1 ">@ViewResources.Resource.ExpiryDate_AR<span class="text-danger">*</span></label>
                        <div id="cal_ExpiryDate_AR">
                            <input type="text" class="form-control" asp-for="@Model.ExpiryDateAr" id="date_ExpiryDate_AR" onclick="datePicker('date_ExpiryDate_EN', 'date_ExpiryDate_AR', 'cal_ExpiryDate_EN', 'cal_ExpiryDate_AR', '2');" readonly>
                            <button type="button" class="icon-button" onclick="datePicker('date_ExpiryDate_EN', 'date_ExpiryDate_AR', 'cal_ExpiryDate_EN', 'cal_ExpiryDate_AR', '2');">&#x25a6;</button>
                        </div>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.DocumentStatus </label>
                        <input type="text" class="form-control" asp-for="DocumentStatus" readonly>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.Remarks </label>
                        <textarea class="form-control" asp-for="Remarks"></textarea>
                    </div>

                </div>

                <div class="col-lg-4 pull-right">
                    <p class="pull-right buton-h1"><button href="#" class="border-btn-none" title="Cancel" data-dismiss="modal"><img src="~/images/cancel.jpg" /></button></p>
                    <p class="pull-right buton-h1"><button type="submit" id="btnSave" class="border-btn-none" title="Save"><img src="~/images/save.jpg" /></button></p>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    #img-upload {
        width: 100%;
    }

    .iframe-container {
        padding-bottom: 60%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        .iframe-container iframe,
        .iframe-container object,
        .iframe-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .modal.in .modal-dialog {
        transform: none; /*translate(0px, 0px);*/
    }
</style>
<script src="~/Scripts/Common/hijri-date.js"></script>
<script src="~/Scripts/Common/calendar.js"></script>
<script src="~/Scripts/Common/CustomDatePicker.js"></script>
<script type="text/javascript">
    /*
* This is the plugin
*/
    (function (a) { a.createModal = function (b) { defaults = { title: "", message: "Your Message Goes Here!", closeButton: true, scrollable: false }; var b = a.extend({}, defaults, b); var c = (b.scrollable === true) ? 'style="max-height: 420px;overflow-y: auto;"' : ""; html = '<div class="modal fade" id="pdfPreviewModal">'; html += '<div class="modal-dialog">'; html += '<div class="modal-content">'; html += '<div class="modal-header">'; html += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'; if (b.title.length > 0) { html += '<h4 class="modal-title">' + b.title + "</h4>" } html += "</div>"; html += '<div class="modal-body" ' + c + ">"; html += b.message; html += "</div>"; html += '<div class="modal-footer">'; if (b.closeButton === true) { html += '<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>' } html += "</div>"; html += "</div>"; html += "</div>"; html += "</div>"; a("body").prepend(html); a("#pdfPreviewModal").modal().on("hidden.bs.modal", function () { a(this).remove() }) } })(jQuery);

    /*
    * Here is how you use it
    */
    $(function () {
        $('.view-pdf').on('click', function () {
            var pdf_link = $(this).attr('href');
            //var iframe = '<div class="iframe-container"><iframe src="'+pdf_link+'"></iframe></div>'
            //var iframe = '<object data="'+pdf_link+'" type="application/pdf"><embed src="'+pdf_link+'" type="application/pdf" /></object>'
            var iframe = '<object type="application/pdf" data="' + pdf_link + '" width="100%" height="500">No Support</object>'
            $.createModal({
                title: 'Preview PDF',
                message: iframe,
                closeButton: true,
                scrollable: false
            });
            $("#pdfPreviewModal").css("z-index", "9999999999");
            return false;
        });
    })
    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                    $('#img-upload').attr('style', "height:100px;width:100px;");
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#documentfile").change(function () {
            readURL(this);
        });
    });
    function ValidateExtension() {
        var allowedFiles = [".doc", ".docx", ".png", ".jpeg", ".jpg", ".pdf"];
        var fileUpload = document.getElementById("documentfile");
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(fileUpload.value.toLowerCase())) {
            $("#documentfile").val('');
            BootstrapDialog.show({
                title: 'Warning',
                message: "Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.",
                buttons: [{
                    label: 'OK',
                    cssClass: 'btn-warning',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
            });
            return false;
        }

        if (event.target.files[0].type === "application/pdf") {
            var file = URL.createObjectURL(event.target.files[0]);
            $("#anchviewpdf").attr('href', file);
            $("#divpreview").show();
            $("#element").hide();
        }
        else {
            $("#divpreview").hide();
            $("#element").show();
        }
        //var file = URL.createObjectURL(event.target.files[0]);
        //$('#element').append('<img onclick="window.open(&#39;' + file +'&#39;, "_blank");" style="width:100px;height:100px;" src="' + file + '" />');
        return true;
    }
</script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var documentTypeValue = $("#DocumentTypeID").val();
            if (parseInt(documentTypeValue) == 3) {
                $("#CostingErr").html('');
                $("#CostingErr").append('<span class="field-validation-error" data-valmsg-for="Costing" data-valmsg-replace="true"><span for="Costing" class="field-validation-error">*Required</span></span>');
                $("#Costing").prop('required', true);
                $("#Costing").rules('add',
                    {
                        required: true,
                        messages: { required: '*Required' }
                    }
                );
            }
            else {
                $("#Costing").removeAttr('required');
            }
        });
        $("#DocumentTypeID").change(function () {
            var documentTypeValue = $("#DocumentTypeID").val();
            if (parseInt(documentTypeValue) == 3) {
                $("#Costing").prop('required', true);
            }
            else {
                $("#Costing").removeAttr('required');
            }

        });

    });
</script>