﻿@model HrmTranEmployeePhoneBaseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}
<style>
    a{
        cursor:pointer !important;
    }
</style>
<section class="border-contenter-inner ">
    <div class="border-contenter-new ">
        <div class="employee-info-box">
            @await Html.PartialAsync("~/Views/Shared/Common/_BasicEmployeeInfo.cshtml", new EmployeeInfoModel() {EmployeeId=Model.EmployeeId,EmployeeName=Model.EmployeeName,EmployeeNumber=Model.EmployeeNumber,EmployeePicture=Model.EmployeePicture });
        </div>
        <div class="container-fluid">
            <div class="info-box-margin">
                <h4 class="h4-new">@ViewResources.Resource.PhoneInfo</h4>
                <div class="new-margin">
                    <p class="pull-right buton-h1 "><button type="button" class="btn btn-info pull-right" data-toggle="modal" onclick="AddEditEmployeePhoneInfo(@Model.EmployeeId,0)">@ViewResources.Resource.AddEmployeePhone</button></p>
                </div>
            </div>
        </div>
        <table class="table dfilter table-bordered ">
            <thead>
                <tr class="table-bg01">
                    <th> @ViewResources.Resource.SNo </th>
                    <th> @ViewResources.Resource.PhoneType  </th>
                    <th> @ViewResources.Resource.Country </th>
                    <th> @ViewResources.Resource.AreaCode</th>
                    <th> @ViewResources.Resource.PhoneNumber </th>
                    <th> @ViewResources.Resource.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeePhones)
                {
                    <tr class="bg-filter">
                        <td class="center-td1 box-td">@count</td>
                        <td>@item.PhoneTypeName</td>
                        <td>@item.CountryName</td>
                        <td>@item.AreaCode</td>
                        <td>@item.PhoneNumber</td>
                        <td class="center-td1 box-td">
                            <a title="Edit" onclick="AddEditEmployeePhoneInfo(@item.EmployeeId,@item.PhoneId)" class="makeActive"><i class="fa fa-pencil font-icon" aria-hidden="true"></i></a>
                            @*<a title="Delete" onclick="detailMaptoContactInfo(@item.EmployeeId)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>*@
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loadAddEditModel"></div>
</div>
<script>
    function AddEditEmployeePhoneInfo(employeeID, phoneID) {
        var url = '@Url.Action("EditEmployeePhoneInfo", "Employee")' + '?employeeID=' + employeeID + '&phoneID=' + phoneID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
    function emptyEdit() {
        alert("Sorry you can't update it!");
        //$('#emptyEditModel').modal('show');
        //$("#loadEmptyEditModel").html(data);
    }
    function EmployeePhoneAudit(employeeID) {
        var url = '@Url.Action("GetEmployeePhoneAuditList", "EmployeePhone")' + '?employeeID=' + employeeID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
</script>