﻿@model HrmTranContactInfoBaseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SNo = 1;
}
<section class="border-contenter-inner ">
    <div class="border-contenter-new ">
        <div class="employee-info-box">
            @await Html.PartialAsync("~/Views/Shared/Common/_BasicEmployeeInfo.cshtml", new EmployeeInfoModel
            {
                EmployeeId = Model.EmployeeId,
               EmployeeName = Model.EmployeeName,
                EmployeeNumber = Model.EmployeeNumber,
                EmployeePicture = Model.EmployeePicture
            })
        </div>

        <form asp-controller="Employee" asp-action="UpdateEmployeeContactInfo" method="post">
            <div class="container-fluid">
                <div class="info-box-margin">
                    <h4 class="h4-new">@ViewResources.Resource.ContactInformation</h4>
                    <div class="new-margin">
                        <p class="pull-right buton-h1"><button type="submit" class="btn btn-primary">@ViewResources.Resource.Save</button></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid mar">

                <div class="col-lg-5 pull-left">
                    <div class="form-group per-form">
                        <label for="exampleInputEmail1" class="label-new1">@ViewResources.Resource.PrimaryMobileNumber<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="PrimaryMobileNumber" asp-for="EmployeeContactInfo.PrimaryMobileNumber">
                        <span asp-validation-for="@Model.EmployeeContactInfo.PrimaryMobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-5 pull-right">
                    <div class="form-group per-form">
                        <label for="exampleInputEmail1" class="label-new1">@ViewResources.Resource.EmailAddress<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Email" asp-for="EmployeeContactInfo.Email">
                        <span asp-validation-for="@Model.EmployeeContactInfo.Email" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="@Model.EmployeeContactInfo.EmployeeId" />
                <input type="hidden" asp-for="@Model.EmployeeContactInfo.ContactInfoId" />
            </div>
            <p class=" buton-h1 padding-top50 pull-right">
                @if (!string.IsNullOrEmpty(Model.EmployeeContactInfo.PrimaryMobileNumber) && !string.IsNullOrEmpty(Model.EmployeeContactInfo.Email))
                {
                    <button type="button" class="btn btn-info cont-mar" data-toggle="modal" onclick="editMaptoContactInfo(0,@Model.EmployeeContactInfo.ContactInfoId,@Model.EmployeeContactInfo.EmployeeId)">@ViewResources.Resource.AddContact </button>
                }
            </p>
        </form>
        <table class="table  dfilter table-bordered ">
            <thead>

                <tr class="table-bg01">
                    <th>@ViewResources.Resource.SNo</th>
                    <th>@ViewResources.Resource.ContactPersonName </th>
                    <th>@ViewResources.Resource.ContactNumber </th>
                    <th>@ViewResources.Resource.ContactAddress </th>
                    <th>@ViewResources.Resource.IsFamily </th>
                    <th>@ViewResources.Resource.IsEmergency </th>
                    <th>@ViewResources.Resource.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.MapToContactInfoList)
                {
                    <tr class="bg-filter">
                        <td class="center-td1 box-td">@SNo</td>
                        <td>@contact.ContactPersonName</td>
                        <td>@contact.ConatactNumber</td>
                        <td>@contact.ContactAddress</td>
                        <td>@(contact.IsFamily.Value ? ViewResources.Resource.Yes : ViewResources.Resource.No)</td>
                        <td>@(contact.IsEmergency.Value ? ViewResources.Resource.Yes : ViewResources.Resource.No)</td>
                        <td class="center-td1 box-td">
                            <a title="Edit" onclick="editMaptoContactInfo(@contact.MapContactInfoId,@contact.ContactInfoId,@contact.EmployeeId)" class="makeActive"><i class="fa fa-pencil font-icon" aria-hidden="true"></i></a>
                            <a title="Delete" onclick="detailMaptoContactInfo(@contact.MapContactInfoId,@contact.ContactInfoId)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    SNo++;
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loadAddEditModel"></div>
</div>


<script>

    function editMaptoContactInfo(maptoContactinfoId, contactinfoId, employeeId) {
        var url = '@Url.Action("EditEmployeeMapContactInfo", "Employee")' + '?mapContactInfoID=' + maptoContactinfoId + '&contactinfoId=' + contactinfoId + '&employeeId=' + employeeId;
        $.get(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
    function detailMaptoContactInfo(maptoContactinfoId) {
        var url = '@Url.Action("DetailContactInfo", "ContactInfo")' + '?roleId=' + roleId;
        $.post(url, function (data) {
            if (data != null) {
                $("#loaddetailsModel").html('');
                $('#detailModel').modal('show');
                $("#loaddetailsModel").html(data);
            }
        });
    }
    function editMaptoContractInfoAudit(employeeID) {

        var url = '@Url.Action("GetAuditContactInfoList", "ContactInfo")' + '?employeeID=' + employeeID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
    function emptyEditRole() {
        alert("Sorry you can't update it!");
        //$('#emptyEditModel').modal('show');
        //$("#loadEmptyEditModel").html(data);
    }
</script>