﻿@model HrmTranDocumentsInfoBaseModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = httpContextaccessor.HttpContext.Session.GetString("CurrentCulture") ?? "en";
    int SNo = 1;
}
<section class="border-contenter-inner ">
    <div class="border-contenter-new ">
        <div class="employee-info-box">
            @await Html.PartialAsync("~/Views/Shared/Common/_BasicEmployeeInfo.cshtml", new EmployeeInfoModel
       {
           EmployeeId = Model.EmployeeId,
           EmployeeName = Model.EmployeeName,
           EmployeeNumber = Model.EmployeeNumber,
           EmployeePicture = Model.EmployeePicture
       })
        </div>
        <div class="container-fluid">
            <div class="info-box-margin">
                <h4 class="h4-new">@ViewResources.Resource.DocumentsInformation</h4>
                <div class="new-margin">
                    <p class="pull-right buton-h1"><button type="button" class="btn btn-info" data-toggle="modal" onclick="AddEditDocumentsInfo(@Model.EmployeeId,0)">@ViewResources.Resource.AddDocuments</button></p>
                </div>
            </div>
        </div>
        <input type="hidden" id="EmployeeID" class="form-control" asp-for="@Model.EmployeeId">
        <table class="table  dfilter table-bordered ">
            <thead>
                <tr class="table-bg01">
                    <th>@ViewResources.Resource.SNo</th>
                    <th>@ViewResources.Resource.DocumentType </th>
                    <th>@ViewResources.Resource.DocumentNumber </th>
                    <th>@ViewResources.Resource.NameInDocument </th>
                    <th>@ViewResources.Resource.ExpiryDate</th>
                    <th>@ViewResources.Resource.DocumentOwner </th>
                    <th>@ViewResources.Resource.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeDocumentsList)
                {
                    <tr class="bg-filter">
                        <td class="center-td1 box-td">@SNo</td>
                        <td>@(language == "en" ? item.DocumentTypeNameEn : item.DocumentTypeNameAr)</td>
                        <td>@item.DocumentNumber</td>
                        <td>@item.NameInDocument</td>
                        <td>@(language == "en" ? item.ExpiryDateEn : item.ExpiryDateAr)</td>
                        <td>@(language == "en" ? item.DocumentOwnerNameEn : item.DocumentOwnerNameAr)</td>
                        <td class="center-td1 box-td">
                            <a title="Edit" onclick="AddEditDocumentsInfo(@item.EmployeeId,@item.DocumentId)" class="makeActive"><i class="fa fa-pencil font-icon" aria-hidden="true"></i></a>
                            <a title="Delete" onclick="detailMaptoContactInfo(@item.EmployeeId)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    SNo++;
                }
            </tbody>
        </table>
    </div>
</section>
<div class="modal fade modal-doc-pop" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loadAddEditModel"></div>
</div>
<script>
    function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }

    $("#imgInp").change(function () {
                    readURL(this);
                });

    $(document).ready(function () {
        $(".makeActive").click(function () {
            $(this).addClass("active");
                    });

                });
    function AddEditDocumentsInfo(employeeID, documentID) {
                    var url = '@Url.Action("EditEmployeeDocumentsInfo", "Employee")' + '?employeeID=' + employeeID + '&documentID=' + documentID;
        $.get(url, function (data) {
                        if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
                        }
                    });
                }

                function AddEditDocumentsAuditInfo(employeeID) {
                    var url = '@Url.Action("GetDocumentsInfoAuditList", "DocumentInfo")' + '?employeeID=' + employeeID;
        $.post(url, function (data) {
                        if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
                        }
                    });
                }
                function detailMaptoContactInfo(maptoContactinfoId) {
                    var url = '@Url.Action("DetailContactInfo", "ContactInfo")' + '?roleId=' + roleId;
        $.post(url, function (data) {
                        if (data != null) {
                $("#loaddetailsModel").html('');
                $('#detailModel').modal('show');
                $("#loaddetailsModel").html(data);
                        }
                    });
                }

                function emptyEdit() {
                    alert("Sorry you can't update it!");
                    //$('#emptyEditModel').modal('show');
                    //$("#loadEmptyEditModel").html(data);
                }
</script>