﻿@model HrmTranEmployeeDependantBaseModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SNo = 1;
    var language = httpContextaccessor.HttpContext.Session.GetString("CurrentCulture") ?? "en";
}
<section class="border-contenter-inner ">
    <div class="border-contenter-new ">
        <div class="employee-info-box">
            @await Html.PartialAsync("~/Views/Shared/Common/_BasicEmployeeInfo.cshtml", Model.Employee)
        </div>

        <div class="info-box-margin">
            <div class="col-lg-4">
                <h4 class="h4-new ">@ViewResources.Resource.DependentInfo</h4>
            </div>
            <div class="col-lg-8">
                <div class="new-margin1">
                    <p class="pull-right buton-h1"><button type="button" class="btn btn-info pull-right" data-toggle="modal" onclick="AddEditEmployeeDependantInfo(@Model.Employee.EmployeeId,0)">@ViewResources.Resource.AddEmployeeDependent</button></p>
                </div>
            </div>
        </div>

        @*@Html.HiddenFor(x => x.EmployeeDependantModel.EmployeeID)*@
        <table class="table dfilter table-bordered ">

            <thead>
                <tr class="table-bg01">
                    <th> @ViewResources.Resource.SNo</th>
                    <th> @ViewResources.Resource.NameInID</th>
                    <th> @ViewResources.Resource.EmployeeDependantType</th>
                    <th> @ViewResources.Resource.Gender</th>
                    <th> @ViewResources.Resource.PhoneNumber</th>
                    <th> @ViewResources.Resource.EligibleForTicket</th>
                    <th> @ViewResources.Resource.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.EmployeeDependants)
                {
                    <tr class="bg-filter">
                        <td class="center-td1 box-td">@SNo</td>
                        <td>@items.NameInIqamaEn</td>
                        <td>@items.DependantTypeNameEn</td>
                        <td>@items.GenderNameEn</td>
                        <td>@items.PhoneNumber</td>
                        <td>@(items.EligibleForTicketBool.Value ? ViewResources.Resource.Yes : ViewResources.Resource.No)</td>
                        <td class="center-td1 box-td">
                            <a title="Edit" onclick="AddEditEmployeeDependantInfo(@items.EmployeeId,@items.EmployeeDependantId)" class="makeActive"><i class="fa fa-pencil font-icon" aria-hidden="true"></i></a>
                            <a title="Delete" onclick="detailMaptoContactInfo(@items.EmployeeId)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    SNo++;
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loadAddEditModel"></div>
</div>

<script>

    function AddEditEmployeeDependantInfo(employeeID, employeeDependantID) {

        var url = '@Url.Action("AddUpdateEmployeeDependant", "Employee")';// + '?employeeID=' + employeeID + '&employeeDependantID=' + employeeDependantID;

        if (employeeDependantID && employeeDependantID > 0) {
            $.get(url + "?id=" + employeeDependantID, function (data) {
                if (data != null) {
                    $("#loadAddEditModel").html('');
                    $('#addEditModel').modal('show');
                    $("#loadAddEditModel").html(data);
                }
            });
        }
        else {
            $.get(url, function (data) {
                if (data != null) {
                    $("#loadAddEditModel").html('');
                    $('#addEditModel').modal('show');
                    $("#loadAddEditModel").html(data);
                }
            });
        }

    }
    function emptyEdit() {
        alert("Sorry you can't update it!");
        //$('#emptyEditModel').modal('show');
        //$("#loadEmptyEditModel").html(data);
    }
     function EmployeeDependantAudit(employeeID) {
        var url = '@Url.Action("GetEmployeeDependantAuditList", "EmployeeDependant")' + '?employeeID=' + employeeID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
</script>