﻿@model HrmTranEmployeeAddressBaseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}
<section class="border-contenter-inner ">
    <div class="border-contenter-new ">
        <div class="employee-info-box">
            @await Html.PartialAsync("~/Views/Shared/Common/_BasicEmployeeInfo.cshtml", new EmployeeInfoModel
            {
                EmployeeId = Model.EmployeeId,
           EmployeeName = Model.EmployeeName,
                EmployeeNumber = Model.EmployeeNumber,
                EmployeePicture = Model.EmployeePicture
            })
        </div>

        <div class="container-fluid">
            <div class="info-box-margin">
                <h4 class="h4-new">@ViewResources.Resource.AddressInfo</h4>
                <div class="new-margin">
                    <p class="pull-right buton-h1 "><button type="button" class="btn btn-info" data-toggle="modal" onclick="AddEditEmployeeAddress(@Model.EmployeeId,0)">@ViewResources.Resource.AddEmployeeAddress</button></p>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="EmployeeId" />

        <table class="table dfilter table-bordered ">
            <thead>


                <tr class="table-bg01">
                    <th> @ViewResources.Resource.SNo</th>
                    <th> @ViewResources.Resource.AddressType</th>
                    <th> @ViewResources.Resource.AddressLine1 </th>
                    <th> @ViewResources.Resource.AddressLine2</th>
                    <th> @ViewResources.Resource.Country</th>
                    <th> @ViewResources.Resource.City </th>
                    <th> @ViewResources.Resource.POBox</th>
                    <th> @ViewResources.Resource.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeAddressList)
                {
                    <tr class="bg-filter">
                        <td class="center-td1 box-td">@count</td>
                        <td>@item.AddressTypeName</td>
                        <td>@item.AddressLine1</td>
                        <td>@item.AddressLine2</td>
                        <td>@item.CountryName</td>
                        <td>@item.City</td>
                        <td>@item.Pobox</td>
                        <td class="center-td1 box-td">
                            <a title="Edit" onclick="AddEditEmployeeAddress(@Model.EmployeeId,@item.EmployeeAddressId)" class="makeActive"><i class="fa fa-pencil font-icon" aria-hidden="true"></i></a>
                            <a title="Delete" onclick="detailMaptoContactInfo(@item.EmployeeId)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loadAddEditModel"></div>
</div>
<script>

    function AddEditEmployeeAddress(employeeID, employeeAddressID) {

        var url = '@Url.Action("EditEmployeeAddress", "Employee")' + '?employeeID=' + employeeID + '&employeeAddressID=' + employeeAddressID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
    function AddEditEmployeeAddressAudit(employeeID) {

        var url = '@Url.Action("GetEmployeeAddressAuditList", "Employee")' + '?employeeID=' + employeeID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
    function emptyEdit() {
        alert("Sorry you can't update it!");
        //$('#emptyEditModel').modal('show');
        //$("#loadEmptyEditModel").html(data);
    }
</script>