﻿@model HrmTranEducationInfoBaseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = System.Globalization.CultureInfo.CurrentCulture.Name;
    bool isEnglish = language == "en-US" ? true : false;
    int count = 1;
}
<section class="border-contenter-inner ">
    <div class="border-contenter-new ">
        <div class="employee-info-box">
            @await Html.PartialAsync("~/Views/Shared/Common/_BasicEmployeeInfo.cshtml", new EmployeeInfoModel() { EmployeeId = Model.EmployeeId, EmployeeName = Model.EmployeeName, EmployeeNumber = Model.EmployeeNumber, EmployeePicture = Model.EmployeePicture });
        </div>
        <div class="container-fluid">
            <div class="info-box-margin">
                <h4 class="h4-new ">@ViewResources.Resource.EducationInfo</h4>
                <div class="new-margin">
                    <p class="pull-right buton-h1 "><button type="button" class="btn btn-info" data-toggle="modal" onclick="AddEditEducationInfo(@Model.EmployeeId,0)">@ViewResources.Resource.AddEducationInfo</button></p>
                </div>
            </div>
        </div>
        <table class="table  dfilter  table-bordered">
            <thead>
                <tr class="table-bg01">
                    <th>@ViewResources.Resource.SNo</th>
                    <th>@ViewResources.Resource.Degree </th>
                    <th>@ViewResources.Resource.Qualification </th>
                    <th>@ViewResources.Resource.YearOfPassing </th>
                    <th>@ViewResources.Resource.College</th>
                    <th>@ViewResources.Resource.CourseType </th>
                    <th>@ViewResources.Resource.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeEducationList)
                {
                    <tr class="bg-filter">
                        <td class="center-td1 box-td">@count</td>
                        <td>@item.DegreeName</td>
                        <td>@item.Qualification</td>
                        <td>@item.YearOfCertification</td>
                        <td>@item.CollegeOrUniversity</td>
                        <td>@item.CourseTypeName</td>
                        <td class="center-td1 box-td">
                            <a title="Edit" onclick="AddEditEducationInfo(@item.EmployeeId,@item.EducationId)" class="makeActive"><i class="fa fa-pencil font-icon" aria-hidden="true"></i></a>
                            <a title="Delete" onclick="detailMaptoContactInfo(@item.EmployeeId)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</section>
<div class="modal fade" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loadAddEditModel"></div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imgInp").change(function () {
        readURL(this);
    });
    $(document).ready(function () {
        $(".makeActive").click(function () {
            $(this).addClass("active");
        });
    });
    function AddEditEducationInfo(employeeID, educationID) {
        var url = '@Url.Action("EditEducationInfo", "Employee")' + '?employeeID='+employeeID+'&educationID='+educationID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }
    function detailMaptoContactInfo(maptoContactinfoId) {
        var url = '@Url.Action("DetailContactInfo", "Education")' + '?roleId=' + roleId;
        $.post(url, function (data) {
            if (data != null) {
                $("#loaddetailsModel").html('');
                $('#detailModel').modal('show');
                $("#loaddetailsModel").html(data);
            }
        });
    }
    function emptyEdit() {
        alert("Sorry you can't update it!");
        //$('#emptyEditModel').modal('show');
        //$("#loadEmptyEditModel").html(data);
    }
</script>