﻿@model HrmTranPersonalInfoModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
@{
    ViewData["Title"] = "Personal Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = httpContextaccessor.HttpContext.Session.GetString("CurrentCulture") ?? "en";
}

<section class="border-contenter-inner ">
    <div class="border-contenter-new ">
        <div class="employee-info-box">
            @await Html.PartialAsync("~/Views/Shared/Common/_BasicEmployeeInfo.cshtml", Model.Employee)
        </div>
        <form asp-controller="Employee" asp-action="UpdatePersonalInfo" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="EmployeePicture" />
            <input type="hidden" asp-for="PersonalInfoId" />
            <div class="container-fluid">
                <div class="info-box-margin">
                    <h4 class="h4-new">@ViewResources.Resource.PersonalInformation</h4>
                    <div class="new-margin">
                        <p class="pull-right buton-h1"><button type="submit" class="btn btn-primary">@ViewResources.Resource.Save</button></p>
                    </div>
                </div>
                <div class="">
                    <div class="col-lg-4">
                        <div class="form-group per-form">
                            <label class="label-new1">@ViewResources.Resource.FullName_En</label>
                            <input type="text" class="form-control" asp-for="FullNameEn">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group per-form">
                            <label class="label-new1 ">@ViewResources.Resource.FullName_Ar</label>
                            <input type="text" class="form-control" asp-for="FullNameAr">
                        </div>
                    </div>
                    <div class="col-lg-4 file-margin ">
                        <div class="form-group">
                            @if (Model.EmployeePicture == null)
                            {
                                <img id="blah" src="../images/ProfileImages/user-img.jpg">
                            }
                            else
                            {
                                <img id="blah" src="@("/images/ProfileImages/"+Model.EmployeePicture)" style=" width:100px;" />
                            }
                            <span asp-validation-for="ImageUpload" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 selectEmpImage pull-right margin-profileimg">
                            <div class="input-group col-lg-3 pull-right input-on">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        @*Upload Photo<input value="bvbv" id="imgInp" onchange="validateFileType()" type="file">*@
                                        @ViewResources.Resource.UploadPhoto <input type="file" class="form-control" asp-for="ImageUpload" id="imgInp" value="bvbv" onchange="validateFileType();">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pull-left">
                    <div class="form-group per-form">
                        <label class="label-new1">First Name(En)<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="FirstNameEn" required>

                        <span asp-validation-for="FirstNameEn" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.FirstName_Ar<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="FirstNameAr" required>

                        <span asp-validation-for="FirstNameAr" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.Nationality</label>
                        <select class="form-control" asp-for="NationalityId"
                                asp-items="@(new SelectList(Model.Nationalities,"NationalityId", (language=="en"? "NationalityNameEn":"NationalityNameAr")))">
                            <option>@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.BloodGroup</label>
                        <select class="form-control" asp-for="BloodGroupId"
                                asp-items="@(new SelectList(Model.BloodGroups,"BloodGroupId", (language=="en"?"BloodGroupNameEn":"BloodGroupNameAr")))">
                            <option>@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.MaritalStatus</label>
                        <select class="form-control" asp-for="MaritalStatusId"
                                asp-items="@(new SelectList(Model.MaritalStatuses,"MaritalStatusId", (language=="en"?"MaritalStatusNameEn":"MaritalStatusNameAr")))">
                            <option>@ViewResources.Resource.select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 pull-left-new">
                    <div class="form-group per-form">
                        <label class="label-new1">LastName (En)<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="LastNameEn" required>

                        <span asp-validation-for="LastNameEn" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.LastName_Ar<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="LastNameAr" required>
                        <span asp-validation-for="LastNameAr" class="text-danger"></span>
                    </div>
                    <div class="form-group per-form">
                        <div class="form-group per-form">
                            <label class="label-new1">@ViewResources.Resource.PersonType</label>
                            <select class="form-control" asp-for="PersonTypeId"
                                    asp-items="@(new SelectList(Model.PersonTypes,"PersonTypeId", (language=="en"?"PersonTypeNameEn":"PersonTypeNameAr")))">
                                <option>@ViewResources.Resource.select</option>
                            </select>
                        </div>
                        <div class="form-group per-form">
                            <div id="cal-1">
                                <label class="label-new1">@ViewResources.Resource.DateOfBirth_Gre<span class="text-danger">*</span></label>
                                <input type="text" id="date-1" asp-for="DateOfBirthEn" readonly onclick="datePicker('date-1', 'date-2', 'cal-1', 'cal-2','1');" class="form-control">
                                <button type="button" class="icon-button" onclick="datePicker('date-1', 'date-2', 'cal-1', 'cal-2','1');">&#x25a6;</button>
                                <span asp-validation-for="DateOfBirthEn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group per-form">
                            <div id="cal-2">
                                <label class="label-new1">@ViewResources.Resource.DateOfBirth_Hij</label>
                                <input type="text" id="date-2" asp-for="DateOfBirthAr" readonly onclick="datePicker('date-1', 'date-2', 'cal-1', 'cal-2','2');" class="form-control">
                                <button type="button" class="icon-button" onclick="datePicker('date-1', 'date-2', 'cal-1', 'cal-2','2');">&#x25a6;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pull-left-new">
                    <div class="form-group per-form">
                        <label class="label-new1">Middle Name (En)  </label>
                        <input type="text" class="form-control" asp-for="MiddleNameEn">
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.MiddleName_Ar </label>
                        <input type="text" class="form-control" asp-for="MiddleNameAr">
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.Religion</label>
                        <select class="form-control" asp-for="ReligionId"
                                asp-items="@(new SelectList(Model.Religions,"ReligionId",  (language=="en"?"ReligionNameEn":"ReligionNameAr")))">
                            <option>@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1">@ViewResources.Resource.Gender</label>
                        <select class="form-control" asp-for="GenderId"
                                asp-items="@(new SelectList(Model.Genders,"GenderId", (language=="en"?"GenderNameEn":"GenderNameAr")))">
                            <option>@ViewResources.Resource.select</option>
                        </select>
                    </div>
                    <div class="form-group per-form">
                        <label class="label-new1 ">@ViewResources.Resource.Title </label>
                        <select class="form-control" asp-for="TitleId"
                                asp-items="@(new SelectList(Model.Titiles,"TitleId", (language=="en"?"TitleNameEn":"TitleNameAr")))">
                            <option>@ViewResources.Resource.select</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="modal fade" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loadAddEditModel"></div>
</div>
<script src="~/Scripts/Common/hijri-date.js"></script>
<script src="~/Scripts/Common/calendar.js"></script>
<script src="~/Scripts/Common/CustomDatePicker.js"></script>
<script type="text/javascript">
    function validateFileType() {
        var fileName = document.getElementById("imgInp").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
            readURL(document.getElementById("imgInp"));
        } else {
            $("#imgInp").val('');
            alert("Only jpg/jpeg and png files are allowed!");
        }
    }
</script>


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
    $(document).ready(function () {
        $("#FirstName_EN,#MiddleName_EN,#LastName_EN").on("keyup", function () {
            var firstName = $("#FirstName_EN").val();
            var lastName = $("#LastName_EN").val();
            var middleName = $("#MiddleName_EN").val();
            var fullName = firstName + " " + middleName + " " + lastName;
            $("#FullName_EN").val(fullName);
        });
    })
    $(document).ready(function () {
        $("#FirstName_AR,#MiddleName_AR,#LastName_AR").on("keyup", function () {
            var firstName = $("#FirstName_AR").val();
            var lastName = $("#LastName_AR").val();
            var middleName = $("#MiddleName_AR").val();
            var fullName = firstName + " " + middleName + " " + lastName;
            $("#FullName_AR").val(fullName);
        });
    })

    @*function PersonalInfoAudit(employeeID) {

        var url = '@Url.Action("GetPersonalInfoAuditList", "PersonalInfo")' + '?employeeID=' + employeeID;
        $.post(url, function (data) {
            if (data != null) {
                $("#loadAddEditModel").html('');
                $('#addEditModel').modal('show');
                $("#loadAddEditModel").html(data);
            }
        });
    }*@
</script>