﻿.new-margin {
    margin: -45px -20px !important;
}

.col-lg-5 {
    width: 49.666667% !important;
}
.user-img {
    float: left;
    margin: 5px 0px 10px 0px;
    width: 100px !important;
    border-radius: 50em !important;
}

.label-new1 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: inherit !important;
    font-size: 15px !important;
    color: #414141;
    font-weight: bold !important;
}


.cont-mar {
    margin: 10px 20px;
    float: right;
}

.switch-vacation-request{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 15px;
    float: right;
    margin: -30px 111px !important;
}
.page-marg {
    margin: 19px 10px 12px 27px;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600 !important;
    color: #337ab7 !important;
}
.b-class {
    font-weight: 300 !important;
    line-height:30px;
}

.border-btn-none {
    border: none !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eef0f1 !important;
    opacity: 1;
}

/*.mar-gree {
    margin: 20px 15px 10px 15px;
}*/
.btn-payrollsetting {
    margin: 17px 10px 10px 10px;
}

.employee-phone-popup {
    width: 80%;
    margin: 8em auto;
    background: #fbfbfc;
    height: 400px;
    overflow: auto;
}

.margin-btm {
    padding: 13px 0px 4px 0px;
}



.import-btn-mr {
    margin: 5px 0px 0px 0px;
}

.border-contenter-inner-new {
    width: 98%;
    float: left;
    border: 1px solid #f5f5f5;
    margin: 10px 0px 10px 15px;
    background: #fbfbfc;
}
.docment-margin {
    margin: 30px 10px -32px 27px !important;
}
.make-date{margin:0px;}
.make-date-margin {
    margin: -10px 0px 10px 0px;
}
.icon-button-iner {
    margin: -40px 5px -23px 12px !important;
}
.add-documents-new {
    margin: 40px 0px;
}

.shortpopup {
    width: 40%;
    border: 1px solid #f5f5f5;
    background: #fbfbfc;
    margin: 100px auto;
}

.input-width{
    width:30% !important;
}



/* Mobile Layout: 480px and below. */
@media only screen and (min-width: 320px) {


   
    .wrapper {
        width: 100% !important
    }
 

    .skin-blue .main-header .navbar {
        background-color: #5b94a5;
        margin: -250px 0px !important;
      
    }
    .skin-blue .main-header .logo {
        background-color:none !important;
        color: #ffffff;
        border-bottom: 0 solid transparent;
        display:none !important;
    }

    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        margin: -225px 0px 18px -17px !important;
    }
    .navbar-employee-mng {
        margin: 0px 0px 0px 0px !important;
        margin-left: 10px !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-style: normal !important;
        color: #333 !important;
        z-index:999999;
    }

    .user-img {
        float: left;
        margin: 10px 0px -98px 0px;
        width: 100px !important;
        border-radius: 50em !important;
    }
    .top-line-bg {
        width: 100%;
        height: 10px;
        background: #1f7fab;
        margin:90px 0px 0px 0px;
    }

    .main-header {
        position: relative;
        max-height: 100px;
        z-index: 1030;
        padding: 0px 0px 0px 0px !important;
    }
    .new-margin {
        margin: -10px -14px !important;
    }

    .input-on {
        margin: -133px -17px 0px 7px !important;
    }
    .buton-h1 {
        margin: 10px 16px 22px 6px !important;
        float: left !important;
    }


    .servicetequest-tab {
        background-color: #003375;
        overflow: auto;
        width:90%;
        margin:0px 20px 0px 20px;
    }

        .servicetequest-tab a {
            float: left;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
        }

            .servicetequest-tab a:hover {
                background-color: #000;
            }


        .servicetequest-tab a {

            float: none;
            display: block;
        }
    .em-margin {
        margin: 100px 0px 4px -4px !important;
        width: 100%;
    }

    .remark {
        width: 320px;
    }
}



/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1200px) {


    .skin-blue .main-header .navbar {
        background-color: #5b94a5;
        margin: auto !important;
    }

    .skin-blue .main-header .logo {
        background-color: #2d778c !important;
        color: #ffffff;
        border-bottom: 0 solid transparent;
        position: fixed;
    }

    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        margin: auto !important;
    }

    .pull-left-new {
        margin: 0px 0px 0px 0px !important;
    }

    .main-header {
        position: relative;
        max-height: 100px;
        z-index: 1030;
        padding: 100px 0px 0px 0px !important;
    }

    .new-margin {
        margin:-40px -20px !important;
    }
    .new-margin1 {
        margin: 0px -20px !important;
    }


    .input-on {
        margin: -117px 100px 0px 4px !important;
    }

    .buton-h1 {
        margin: 0px 16px 22px 22px !important;
        float: right !important;
    }

    .branch-name {
        margin: 110px 0px 10px 0px;
    }

    .top-line-bg {
        width: 100%;
        height: 10px;
        background: #1f7fab;
        margin: 0px 0px 0px 0px !important;
    }

    .iner-bg {
        width: 100%;
        margin: 30px 0px 20px 0px;
        float: left;
    }

    .zinexinput {
        z-index: 222;
        float: left;
    }

    .emp-dropdwon {
        z-index:333;
        
    }

    .em-margin {
        margin: 10px 15px -40px 6px !important;
        width:auto;
    }



    .servicetequest-tab {
        width: auto;
        background-color: #5b94a5;
        overflow: auto;
        float: left;
        margin: auto;
    }

        .servicetequest-tab a {
            float: left;
            padding: 12px 10px;
            color: white;
            text-decoration: none;
            font-size: 12px;
            font-weight:bold;
        }

            .servicetequest-tab a:hover {
                background-color: #326881;
            }

    .purpose-magin{margin:-30px 0px 0px 0px;}

    .box-back {
        float: left;
        border-bottom:1px solid #CCC;
        padding: 10px 0px 15px 15px;
    }

    .info-box-new {
        width: 95%;
        float: left;
        border-bottom: 1px solid #CCC;
        margin: 0px 10px 0px 30px;
    }
   .remark{
       width:100%;
   }

    .employee-info-box{
        width: 100%;
        height: 150px;
        float: left;
    }

    .info-box-margin {
        width: 100%;
        height:80px;
        float: left;
    }
    .payroll-btn{margin:20px 0px 20px 0px; float:right;}

    .box-new-dash {
        width: 220px;
        height: 110px;
        float: left;
        background: #e2eef9;
        box-shadow: 0px 0px 8px #f5f5f5;
        margin: 80px 10px -55px 20px;
        border-radius: 5px;
        transition: 0.3s;
    }
        .box-new-dash:hover {
            background: #a4e4f7;
        }
        .span-h4 {
            font-size: 20px !important;
        }

    .h4-text {
        font-size: 13px;
        margin: 35px 10px 10px 30px;
        line-height: 22px;
    }
    .navbar-nav {
        float: left;
        margin: 0px 25px 0px 0px !important;
    }
    .span-icon {
        margin: 33px 0px 20px 20px;
        font-size: 40px;
        color: #1f7fab;
    }
}