

h1 {
    color: #396;
    font-weight: 100;
    font-size: 30px;
    margin: 20px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    margin:15px 0px 10px 0px;
}

    #clockdiv > div {
        padding: 5px;
        border-radius: 3px;
        background:#1f7fab;
        display: inline-block;
        margin: 5px 0px 5px 0px;
    }

    #clockdiv div > span {
        border-radius: 3px;
        background: #5fc1ef;
        display: inline-block;
        width: 45px;
        height: 40px;
    }

.smalltext {
    font-weight: 500;
    font-size: 10px;
}
