﻿@charset "utf-8";
*{ margin:0px; padding:0px;}

body {

	font-size: 14px;
	font-style: normal;
	color: #333;
	background: #f3f3f3;
	background-size:100%;
}

@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

.LoginForm{
    padding-top:50px;
}
/* Mobile Layout: 480px and below. */
@media only screen and (min-width: 320px) {
.login-bg{ width:100%; height:100%; background:#e6e6e6; background-size:100%;}
.main-center-bg{width:95%; height:100%; margin:22px auto; background:#e7e7e7;}
.left-side-img{float:left; width:100%;  display:none;}
.right-side-language{float:right; margin:0px;}
.right-side-login{width:75%; float:left;  margin:5px 20px; }
.h2{float:left; font-size:22px; font-family: Arial, Helvetica, sans-serif; font-weight:500; color:#808080; margin:20px 0px 5px;}
.p-text{font-size:13px; float:left; font-family: Arial, Helvetica, sans-serif; color:#808080; margin:0px 0px 15px;}
.forget{font-size:14px; margin:20px 0px 10px 0px; float:left;}

.btn-primarynew {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	text-transform:uppercase;
	margin:5px 0px 10px 0px;
}

.form-control-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color:#fff;
	border:#fff solid 1px;
	 border-bottom:1px solid #b5b5b5 !important;
    border-radius:none ;
    -webkit-box-shadow:none;
    box-shadow:none !important;
   
}



}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 768px) {
	
.login-bg{ width:100%; height:100%; background:#e6e6e6; background-size:100%;}
.main-center-bg{width:95%; height:100%; margin:0px auto; background:#FFF; position:relative}
.left-side-img{float:left; width:100%;  display:none;}
.right-side-login{width:90%; float:right;  margin:50px 20px; }
.h2{float:left; font-size:22px; font-family: Arial, Helvetica, sans-serif; font-weight:500; color:#808080; margin:20px 0px 5px;}
.p-text{font-size:15px; float:left; font-family: Arial, Helvetica, sans-serif; color:#808080; margin:0px 0px 15px;}
.forget{font-size:14px; margin:20px 0px 10px 0px; float:left;}

.btn-primarynew {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	text-transform:uppercase;
	margin:5px 0px 10px 0px;
}

.form-control-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color:#fff;
	border:#fff solid 1px;
	 border-bottom:1px solid #b5b5b5 !important;
    border-radius:none ;
    -webkit-box-shadow:none;
    box-shadow:none !important;
   
}

	
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1024px) {
    .login-bg {
        width: 100%;
        height: 100%;
        background: url(../images/login-bg.jpg);
        position: fixed;
        background-size: 100%;
    }
.main-center-bg{width:960px; height:420px; margin:140px auto; background:#FFF; box-shadow:0px 0px 30px #939393;}
.left-side-img{float:left; width:620px; height:400px; display:block;}
.right-side-login{width:280px; height:350px; float:right;  margin:35px 25px; }

.h2{float:left; font-size:22px; font-family: Arial, Helvetica, sans-serif; font-weight:500; color:#808080; margin:20px 0px 5px;}
.p-text{font-size:13px; float:left; font-family: Arial, Helvetica, sans-serif; color:#808080; margin:0px 0px 15px;}
.forget{font-size:14px; margin:8px 0px 10px 0px; float:left;}
.btn-primarynew {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	text-transform:uppercase !important;
	margin:5px 0px 10px 0px !important;
}

.form-control-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color:#fff;
	border:#fff solid 1px;
	 border-bottom:1px solid #b5b5b5 !important;
    border-radius:none ;
    -webkit-box-shadow:none;
    box-shadow:none !important;
   
}





}
.field-validation-error {color: #FF0000;}
.input-validation-error{border-bottom: 1px solid #FF0000 !important;}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{background-position: center left !important;}
.sno {width:50px !important}
 .display-none{
            display:none;
        }
