﻿@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
@{
    var language = httpContextaccessor.HttpContext.Session.GetString("CurrentCulture") ?? "en";

    UserModel User = null;

    if (httpContextaccessor.HttpContext.Session.GetString("User") != "")
    {
        User = JsonConvert.DeserializeObject<UserModel>(httpContextaccessor.HttpContext.Session.GetString("User"));
    }
    var languages = new List<SelectListItem>() {
        new SelectListItem(){ Value="en",Text=ViewResources.Resource.English, Selected=(language=="en")},
        new SelectListItem(){ Value="ar",Text=ViewResources.Resource.Arabic, Selected=(language=="ar")},
    };
}
<!DOCTYPE html>
<html dir="@(language == "en"?"ltr":"rtl")" lang="@language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HRM</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @if (language == "en")
    {
        <link href="~/css/hrm-AdminLTE.css" rel="stylesheet" />
        <link href="~/css/flipclock.css" rel="stylesheet" />
        <link href="~/css/progressbar.css" rel="stylesheet" />
        <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/css/dataTables.jqueryui.min.css" rel="stylesheet" />
        <link href="~/css/Common/chosen.min.css" rel="stylesheet" />
        <link href="~/css/Common/calendar.css" rel="stylesheet" />

        <link href="~/css/on-off-button.css" rel="stylesheet" />
        <link href="~/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/ionicons.css" rel="stylesheet" />

        @*<link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">*@
        <link href="~/css/hrm-skin-blue.css" rel="stylesheet" />
        <link href="~/css/Style-hrm.css" rel="stylesheet" />
        <link href="~/css/Demo-css.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/ArabicCss/Style-hrm-ar.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/dataTables.jqueryui.min-ar.css" rel="stylesheet" />
        <link href="~/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/flipclock-ar.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/hrm-AdminLTE-ar.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/hrm-skin-blue-ar.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/on-off-button-ar.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/progressbar-ar.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/ionicons-ar.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/jquery.dataTables.min-ar.css" rel="stylesheet" />
        <link href="~/css/Common/calendar.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.css" rel="stylesheet" />
        <link href="~/css/Common/chosen.min.css" rel="stylesheet" />
        <link href="~/css/ArabicCss/customArabic.css" rel="stylesheet" />
    }
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
    <div class="container-fluid top-line-bg"></div>
    <div class="container-fluid hearder-bg">
        <div class="row">
            <div class="container container-new">
                <div class="pull-left logo-margin"><a href="@Url.Action("Index","Home")"><img src="/images/logo.png"></a></div>

                <div class="pull-right">
                    <div class="form-group">
                        <form asp-controller="Base" asp-action="ChangeCulture">
                            <select class="form-control select-leu" id="ddlCulture" name="ddlCulture" asp-items="@languages" onchange="this.form.submit();">
                            </select>
                        </form>
                    </div>
                </div><div class="pull-right bellicon">
                    <a href="#">
                        <i class="fa fa-bell"></i>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">@(language == "en" ? "MENU" : "قائمة")</span>
                <!-- logo for regular state and mobile devices -->
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="@("/images/ProfileImages/"+(!string.IsNullOrEmpty(User.ProfilePicture) ? User.ProfilePicture : "/user-img.jpg"))" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                @if (language == "en")
                                {
                                    <span class="hidden-xs">@User.ProfileName</span>
                                }
                                else
                                {
                                    <span class="hidden-xs">@User.ProfileNameAr </span>
                                }
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="@("/images/ProfileImages/"+(!string.IsNullOrEmpty(User.ProfilePicture) ? User.ProfilePicture : "/user-img.jpg"))" class="img-circle" alt="User Image">
                                    @if (language == "en")
                                    {
                                        <p>
                                            @User.ProfileName
                                            <small>@*Member since Nov. 2002*@</small>
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            @User.ProfileNameAr
                                            <small>  @*2002 عضو منذ*@</small>
                                        </p>
                                    }
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href=@Url.Action("LogOut", "Home" ) class="btn btn-default btn-flat">Sign Out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class=@(language == "en"?"main-sidebar":"ar-main-sidebar")>
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @*<ul class="sidebar-menu tree" data-widget="tree">
                        <li class=""><a href="/Employee/GetEmployeeList">Employee  Information</a></li>
                    </ul>*@
                <ul class="sidebar-menu tree">
                    <li class="treeview">
                        <a href="/Employee/GetPersonalInfo">
                            <i class="fa fa-user"></i> <span>@ViewResources.Resource.PersonalInfo</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/Employee/GetEmployeePhoneInfo">
                            <i class="fa fa-share"></i> <span>@ViewResources.Resource.PhoneInfo</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/Employee/GetEmployeeDependants">
                            <i class="fa fa-users"></i> <span>@ViewResources.Resource.Dependant</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/Employee/GetEmployeeContactInfo">
                            <i class="fa fa-share"></i> <span>@ViewResources.Resource.ContactInfo</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/Employee/GetEmployeeAddress">
                            <i class="fa fa-share"></i> <span>@ViewResources.Resource.Address</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/Employee/GetEmployeeEducationInfo">
                            <i class="glyphicon glyphicon-tag"></i> <span>@ViewResources.Resource.Education</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/Employee/GetEmployeeDocumentsInfo">
                            <i class="fa fa-share"></i> <span>@ViewResources.Resource.Documents</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success alertMessage" style="margin-top:80px">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <div><h4><b> Alert !</b> @TempData["SuccessMessage"]</h4></div>
                    </div>
                }

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-error alertMessage" style="margin-top:80px">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <div><h4><b> Alert !</b> @TempData["ErrorMessage"]</h4></div>
                    </div>
                }
                @RenderBody()
            </section>
            <!-- Main content -->
            <section class="content container-fluid"></section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer main-footer-footer">
            <!-- To the right -->
            <div class="pull-right footer-logo">
                <img src="/images/footer-logo.png">
            </div>
            <!-- Default to the left -->
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->

            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- Extend Modal -->
    <div class="modal fade ExtendModal modal-dialog-extend-timeout" id="extendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog margin-modalPopup ModalLeft" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title " id="myModalLabel">TIMEOUT</h4>
                </div>
                <div class="modal-body ">
                    Please Extend your search by click on Extend button.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="myExtendTime()">Extend</button>
                </div>
            </div>
        </div>
    </div>
    <div id="divLoading">
        <p id="para-request">
            <div class="loading">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
            </div>
        </p>
    </div>
    <script src="~/Scripts/Common/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/adminlte.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
