﻿.ar-main-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 204px;
    min-height: 100%;
    width: 253px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    background-color: #002e58;
}
.skin-blue .wrapper, .skin-blue .ar-main-sidebar, .skin-blue .left-side {
    background-color: #002e58;
    height: 100%;
    overflow-y: auto;
}
.content-wrapper, .main-footer {
    margin-right: 260px ;
    margin-left:0;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ffffff;
}

.main-footer {
    margin-left: 1px
}

.border-contenter {
    width: 98%;
    float: left;
    border: 1px solid #f5f5f5;
    /*margin: 60px 0px 10px -215px;*/
    background: #fbfbfc;
}

.border-contenter-inner {
    /*margin-left: -218px;*/
     margin-left: 0;
}

.alertMessage {
    margin-top: 120px;
    float: left;
    width: 55%;
    height: 50px;
    margin-bottom: 0px;
}

.h4-new, .h3-new {
    color: #000000 !important
}

.border-contenter {
    width: 100% !important;
    /*width: 96% !important;*/
    /*float: left;*/
    margin: 0 !important;
    margin-left: 0px !important;
    margin-top: 60px !important;
    /*position:absolute;*/
    border: 1px solid #f5f5f5;
    background: #fbfbfc;
    padding-right:10px;
}


.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
    margin: 10px 22px 10px 0px !important;
}

.navi-bar {
    width: 100% !important;
    height: 52px;
    float: left;
    background: #f8f8f8;
    position: relative;
    z-index: inherit;
    margin: 46px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: fixed;
    z-index: 11 !important;
}

.ar-main-sidebar {
    z-index: 111 !important;
}

.navbar-nav {
    float: left !important;
    font-size: 18px;
}

.user-img {
    float: right !important;
}

.col-sm-6 {
    float: left !important;
}

.mar {
    margin: 10px 0px 50px 0px !important;
}

.col-lg-5 {
    width: 49.666667% !important;
}

.user-img {
    float: left;
    margin: 5px 0px 10px 0px;
    width: 55px !important;
    border-radius: 50em !important;
    width: 100px !important;
}


.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left !important;
}

.skin-blue .sidebar a {
    color: #b8c7ce;
    font-size: 15px !important;
}

.icon-button {
    float: left !important;
}

.main-header .sidebar-toggle {
    float: right;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: left;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
}

.em-margin {
    margin: 0px 10px 0px 10px;
}

.tab-margin {
   /* margin: 10px 30px 10px 9px !important;
    width: 100% !important;*/
}

.form-group {
    margin-bottom: 15px;
    font-size: 16px !important;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    margin: 12px 3px !important;
}

.jumbotron {
    /*padding-top: 30px;
    padding-bottom: 30px;*/
   /* margin-bottom: 30px;
    color: inherit;
    background-color: #fff !important;
    margin: 13px -210px !important;
    float: left !important;
    width: 95% !important;*/
}
/*******/

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px !important;
        z-index: 840;
    }

    .sidebar-mini.sidebar-collapse .ar-main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative;
    }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
            margin-right: 0;
        }

            .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
                border-top-right-radius: 4px;
            }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
            border-bottom-right-radius: 4px;
        }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom-right-radius: 4px;
        }

        .sidebar-mini.sidebar-collapse .ar-main-sidebar .user-panel > .info,
        .sidebar-mini.sidebar-collapse .sidebar-form,
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
        .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
            display: none !important;
            -webkit-transform: translateZ(0);
        }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px;
    }

        .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
            display: block;
            margin-left: -15px;
            margin-right: -15px;
            font-size: 15px;
        }

        .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
            display: none;
        }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px;
    }
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 180px !important;
    top: -22px !important;
    z-index: 900;
}

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
        display: none;
    }

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
}

.sidebar-expanded-on-hover .main-footer,
.sidebar-expanded-on-hover .content-wrapper {
    margin-left: 50px;
}

.sidebar-expanded-on-hover .ar-main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
}

.sidebar-menu,
.ar-main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}

    .sidebar-menu:hover {
        overflow: visible;
    }

    .sidebar-form,
    .sidebar-menu > li.header {
        overflow: hidden;
        text-overflow: clip;
    }

    .sidebar-menu li > a {
        position: relative;
    }

        .sidebar-menu li > a > .pull-right-container {
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -7px;
        }
/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */
.control-sidebar-bg {
    position: fixed;
    z-index: 1000;
    bottom: 0;
}

.control-sidebar-bg,
.control-sidebar {
    top: 0;
    right: -230px;
    width: 230px;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}

.control-sidebar {
    position: absolute;
    padding-top: 50px;
    z-index: 1010;
}

@media (max-width: 768px) {
    .control-sidebar {
        padding-top: 100px;
    }
}

.control-sidebar > .tab-content {
    padding: 10px 15px;
}

.control-sidebar.control-sidebar-open,
.control-sidebar.control-sidebar-open + .control-sidebar-bg {
    right: 0;
}

.control-sidebar-open .control-sidebar-bg,
.control-sidebar-open .control-sidebar {
    right: 0;
}

/******/

.label-new1 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: inherit !important;
    font-size: 17px !important;
    color: #414141;
    font-weight: bold !important;
}


.employee-phone-popup {
    width: 80%;
    margin: 10em auto;
    background: #fbfbfc;
    height: 600px;
    overflow: auto;
}
.b-class {
    font-weight: 300 !important;
    line-height: 30px;
}

.icon-button {
    width: 30px !important;
    margin: -34px 5px -23px 1px !important;
    /*float: right !important;*/
    padding: 2px 0px 4px 0px;
}
.margin-btm {
    padding: 5px 0px 8px 0px;
}
.file-margin {
    margin: 20px 0px 0px 0px;
}
.margin-profileimg {
    margin: -10px 0px;
}
    .input-on {
        margin: -100px 0px 0px 200px !important;
    }

.import-btn-mr {
    margin: 17px 0px 0px 0px;
}
.border-contenter-inner-new {
    width: 96%;
    float: right;
    border: 1px solid #f5f5f5;
    margin: 10px 0px 10px -218px;
    background: #fbfbfc;
}

.b-class {
    font-weight: 300 !important;
    line-height: 30px;
    font-size: 18px;
}

.docment-margin {
    margin: 30px 10px -32px 27px !important;
}

.make-date {
    margin: 0px;
}
.add-documents-new {
    margin: 40px 0px;
}
.make-date-margin {
    margin: -10px 0px 10px 0px;
}

.icon-button-iner {
    margin: -40px 5px -23px 12px !important;
}

.shortpopup {
    width: 40%;
    border: 1px solid #f5f5f5;
    background: #fbfbfc;
    margin: 100px auto;
}



/* Mobile Layout: 480px and below. */
@media only screen and (min-width: 320px) {



    .wrapper {
        width: 100% !important
    }


    .skin-blue .main-header .navbar {
        background-color: #5b94a5;
        margin: -250px 0px !important;
    }

    .skin-blue .main-header .logo {
        background-color: none !important;
        color: #ffffff;
        border-bottom: 0 solid transparent;
        display: none !important;
    }

    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        margin: -225px 0px 18px -17px !important;
    }

    .navbar-employee-mng {
        margin: 0px 0px 0px 0px !important;
        margin-left: 10px !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-style: normal !important;
        color: #333 !important;
        z-index: 999999;
    }

    .user-img {
        float: left;
        margin: 10px 0px -98px 0px;
        width: 100px !important;
        border-radius: 50em !important;
    }

    .top-line-bg {
        width: 100%;
        height: 10px;
        background: #1f7fab;
        margin: 90px 0px 0px 0px;
    }

    .main-header {
        position: relative;
        max-height: 100px;
        z-index: 1030;
        padding: 0px 0px 0px 0px !important;
    }

    .new-margin {
        margin: -10px -14px !important;
    }

    .input-on {
        margin: -133px -17px 0px 7px !important;
    }

    .buton-h1 {
        margin: 10px 16px 22px 6px !important;
        float: left !important;
    }


    .servicetequest-tab {
        background-color: #003375;
        overflow: auto;
        width: 90%;
        margin: 0px 20px 0px 20px;
    }

        .servicetequest-tab a {
            float: left;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
        }

            .servicetequest-tab a:hover {
                background-color: #000;
            }


        .servicetequest-tab a {
            float: none;
            display: block;
        }

    .em-margin {
        margin: 100px 0px 4px -4px !important;
        width: 100%;
    }

    .remark {
        width: 320px;
    }
}



/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1200px) {


    .skin-blue .main-header .navbar {
        background-color: #5b94a5;
        margin: auto !important;
    }

    .skin-blue .main-header .logo {
        background-color: #2d778c !important;
        color: #ffffff;
        border-bottom: 0 solid transparent;
        position: fixed;
    }

    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        margin: auto !important;
    }

    .pull-left-new {
        margin: 0px 0px 0px 0px !important;
    }

    .main-header {
        position: relative;
        max-height: 100px;
        z-index: 1030;
        padding: 100px 0px 0px 0px !important;
    }

    .new-margin {
        margin: 30px -20px !important;
    }

    .input-on {
        margin: -117px 100px 0px 4px !important;
    }

    .buton-h1 {
        margin: 0px 16px 22px 22px !important;
        float: right !important;
    }

    .branch-name {
        margin: 110px 0px 10px 0px;
    }

    .top-line-bg {
        width: 100%;
        height: 10px;
        background: #1f7fab;
        margin: 0px 0px 0px 0px !important;
    }

    .iner-bg {
        width: 100%;
        margin: 30px 0px 20px 0px;
        float: left;
    }

    .zinexinput {
        z-index: 222;
        float: left;
    }

    .emp-dropdwon {
        z-index: 333;
    }

    .em-margin {
        margin: 10px 15px -40px 6px !important;
        width: auto;
    }

    .table-condensed {
        float:left !important;
        z-index:999;
        width:230px !important;
      
    }

    .servicetequest-tab {
        width: auto;
        background-color: #5b94a5;
        overflow: auto;
        float: left;
        margin: auto;
    }

        .servicetequest-tab a {
            float: left;
            padding: 12px 25px;
            color: white;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
        }

            .servicetequest-tab a:hover {
                background-color: #326881;
            }

    .purpose-magin {
        margin: -30px 0px 0px 0px;
    }

    .box-back {
        float: left;
        border-bottom: 1px solid #CCC;
        padding: 0px 0px 0px 0px;
    }

    .info-box-new {
        width: 100%;
        float: left;
        border-bottom: 1px solid #CCC;
        margin: 0px;
        padding-right:10px
    }
    .page-marg {
        clear:both;
        padding-right:20px;
        padding-top:10px

    }
    .remark {
        width: 100%;
    }
    .employee-info-box {
        width: 100%;
        height: 150px;
        float: left;
    }
    .info-box-margin {
        width: 100%;
        height: 100px;
        float: left;
        margin:0px 0px 20px 0px;
    }

    .dropdown-menu {
        right: auto;
    }
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.input-group .form-control {
    border-bottom-left-radius: 0px!important;
    border-top-left-radius: 0px !important;
}
.form-control.select-leu {margin-right:10px
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.arabic_row {margin:0!important
}
.box-header.with-border {padding:0 10px!important 
}
.arabic-col-md-4 {padding-right:0;
}
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 60px!important;
        padding-bottom: 48px;
        padding-left:10px
    }
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (min-width: 1024px) {
    button, input, select, textarea {
        border: 1px solid #c1c1c1 !important;
    }
}


.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
    margin-right: 50px !important;
    z-index: 840;
    margin-left: 0px !important;
}
 