﻿   
        /*#cal-1, #cal-2 {
            margin-left: 12px;
            margin-top: 10px;
        }*/

        .icon-button {
            width: 30px;
        }

        /*input {
            width: 243px;
            margin-bottom: 8px;
        }*/

        .calendar {
            position: absolute;
            z-index: 1;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #d2cece;
        }

        #pbar_innertext {
            z-index: 3;
            position: absolute;
             top: -1px;
             font-size: 12px;
            left: 0;
            width: 100%;
            height: 100%;
            color: #111;
            font-weight: bold;
            text-align: center;
        }
        #pbar_outerdiv {
    width: 300px;
    height: 18px;
    border: 2px solid #1f7fab;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
        #pbarListItem {
    padding-top: 0px;
}
        #pbar_innerdiv {
    background-color: cadetblue;
    z-index: 2;
    height: 100%;
    width: 0%;
}


