﻿@charset "utf-8";
*{ margin:0px; padding:0px;}

body {

	font-size: 14px;
	font-style: normal;
	color: #333;
	
}

/*New code*/

@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/* Mobile Layout: 480px and below. */
@media only screen and (min-width: 320px) {
.top-line-bg{width:100%; height:10px; background:#1f7fab;}
.hearder-bg{width:100%; height:80px;  background:#fbfbfc;}
.container-new{width:97% !important; }
.logo-margin{float:left; margin:8px 0px 0px 0px;}
.select-leu{ margin:20px 0px 10px 15px; font-size:13px !important; border-bottom:1px solid #666;}

.main-footer-footer { background: #fff;padding: 20px 20px !important;color: #444;height:60px;border-top: 1px solid #d2d6de;}
.footer-logo{margin:-10px 0px;}
.navi-bar{width:100%;  float:left; background:#f8f8f8; position:relative; z-index:inherit;}
.border-none{ border:none !important}

.border-contenter{width:100%; float:left; border:1px solid #eaeaea; margin:10px 0px 10px 0px;}
.h4-new{font-size:18px; text-transform:uppercase;}

.user-img{float:left; margin:5px 0px 10px 0px; width:55px !important; border-radius:50em !important;}

.icon-button {
    width: 30px !important;
    margin: -37px 5px -23px 12px !important;
    float: right !important;
}

.label-new {display: inline-block;max-width: 100%; margin-bottom: 5px;font-weight:inherit !important; font-size:12px !important; color:#414141;}
.label-new1 {display: inline-block;max-width: 100%; margin-bottom: 5px;font-weight:inherit !important; font-size:13px !important; color:#414141;}
.mar-form{margin:0px 10px 0px 10px; }
.per-form{margin:0px 0px 7px 0px;}
.buton-h1{margin: 456px 6px -484px 2px;}

.table-bg01{background:#9a968c; color:#FFF; font-size:14px; font-weight: inherit !important; }
.table-bg02{background:#fbfbfb; color:#9a968c; font-size:13px;}
.table-bg03{background:#f3fbff; color:#9a968c; font-size:13px;}
.font-icon{margin:0px 5px 0px 5px;}
.pagenavi{margin:-10px 0px 10px 0px;}
.modal-header-new {border-bottom-color: #a7a7a7;background: #2692ed !important;color:#FFF;}
.radio-margin{margin-left: -134px !important;}

.modal-dialog-extend-timeout {
    
    margin:100px auto !important;
}

    .margin-asset {
        height: 626px !important;
    }

}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 768px) {
   
.top-line-bg{width:100%; height:10px; background:#1f7fab;}
.hearder-bg{width:100%; height:80px;  background:#fbfbfc;}
.container-new{width:97% !important; }
.logo-margin{float:left; margin:8px 0px 0px 0px;}
.select-leu{ margin:20px 0px 10px 15px; font-size:13px !important; border-bottom:1px solid #666;}
.main-footer-footer { background: #fff;padding: 20px 20px !important;color: #444;height:60px;border-top: 1px solid #d2d6de;}
.footer-logo{margin:-10px 0px;}

.border-contenter{width:100%; float:left; border:1px solid #eaeaea; margin:10px 0px 10px 0px;}
.h4-new{font-size:18px; text-transform:uppercase;}
.user-img{float:left; margin:5px 0px 10px 0px; width:55px !important; border-radius: 50em !important; }
.label-new {display: inline-block;max-width: 100%; margin-bottom: 5px;font-weight:inherit !important; font-size:12px !important; color:#414141;}
.label-new1 {display: inline-block;max-width: 100%; margin-bottom: 5px;font-weight:inherit !important; font-size:13px !important; color:#414141;}
.mar-form{margin:0px 10px 0px 10px; }
.per-form{margin:0px 0px 7px 0px;}
.buton-h1{margin: 456px 6px -484px 2px;}

.icon-button {
    width: 30px !important;
    margin: -37px 5px -23px 12px !important;
    float: right !important;
}

.table-bg01{background:#9a968c; color:#FFF; font-size:14px; font-weight: inherit !important; }
.table-bg02{background:#fbfbfb; color:#9a968c; font-size:13px;}
.table-bg03{background:#f3fbff; color:#9a968c; font-size:13px;}
.font-icon{margin:0px 5px 0px 5px;}
.pagenavi{margin:-10px 0px 10px 0px;}
.modal-header-new {border-bottom-color: #a7a7a7;background: #2692ed !important;color:#FFF;}
.radio-margin{   
     margin-left: -24px !important;
    width: 31px;}

.modal-dialog-extend-timeout {
    margin:200px auto !important;
}
    .margin-asset {
        height: 626px !important;
    }


}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1024px) {
    .top-line-bg {
        width: 100%;
        height: 10px;
        background: #1f7fab;
        z-index: 999999;
        position: fixed;
    }
    .hearder-bg {
        width: 100%;
        height:100px;
        background: #fbfbfc;
        z-index: 9999;
        position: fixed;
    }
.container-new{width:97% !important; }
.logo-margin{float:left; margin:20px 0px 0px 0px;}
    .select-leu {
        margin: 35px 0px 10px 15px;
        font-size: 13px !important;
        border-bottom: 1px solid #666;
    }
.main-footer-footer { background: #fff;padding: 20px 20px !important;color: #444;height:60px;border-top: 1px solid #d2d6de;}
.footer-logo{margin:-12px 0px;}

    .navi-bar {
        width: 100% !important;
        height: 52px;
        float: left;
        background: #f8f8f8;
        position: relative;
        z-index: inherit;
        margin: 46px 0px 0px 0px;
        margin-right: 0px;
        margin-left: 0px;
        position: fixed;
        z-index: 9993;
    }
.border-none{ border:none !important}

    .border-contenter {
        width: 98%;
        float: left;
        border: 1px solid #f5f5f5;
        margin:60px 0px 10px 15px;
        background: #fbfbfc;
    }

    .border-contenter-new {
        /*width: 98%;*/
      
        
        /*border: 1px solid #f5f5f5;*/
        margin: 60px 0px 10px 15px;
        background: #fbfbfc;
    }

    .border-contenter-inner {
      /*  width: 96%;
        float: left;*/
        border: 1px solid #f5f5f5;
        margin: 10px 0px 10px 15px;
        background: #fbfbfc;
        margin-top:110px;
    }

    .mar-icon-new{
        margin:-10px !important;
    }


    .h4-new {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        color: #ff0202;
    }

    .popup-text {
        font-size:13px;
        color:#00498c;
        font-weight:600;
    }

.user-img{float:left; margin:5px 0px 10px 0px; width:55px !important; border-radius: 50em !important;}

.label-new {display: inline-block;max-width: 100%; margin-bottom: 5px;font-weight:inherit !important; font-size:20px !important; color:#414141;}

.mar-form{margin:0px 10px 0px 10px; }
    .per-form {
        margin: 20px 0px 7px 0px;
    }
    .buton-h1 {
        margin: 4px 10px 8px 20px;
    }
.pull-left-new{float:right !important;}

    .table-bg01 {
        background: #2d778c;
        color: #FFF;
        font-size: 14px;
        font-weight: inherit !important;
    }


    .margin-asset {
        height: 626px !important;
    }

    .close {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #f1f0f0 !important;
        /* text-shadow: 0 1px 0 #fff; */
        filter: alpha(opacity=20);
        opacity: 4.2 !important;
        background: #111 !important;
        padding: 4px !important;
        border-radius: 20px;
    }

.table-bg02{background:#fbfbfb; color:#9a968c; font-size:13px;}
.table-bg03{background:#f3fbff; color:#9a968c; font-size:13px;}
.font-icon{margin:0px 5px 0px 5px;}
.pagenavi{margin:-10px 0px 10px 0px;}
    
.modal-header-new {
        border-bottom-color: #a7a7a7;
        background: #2d778c !important;
        color: #FFF;
    }


.content-wrapper-hrm{height:800px !important; position:inherit;}
.content-wrapper-hrm-doc{height:1100px !important;}
.radio-margin{    
    margin-left: -21px !important;
    width: 31px;}


    .modal-doc-pop {
        top: -100px !important;
    }
    .table-hrm {
        width: 75% !important;
        float: left;
    }
    .login-bg {
        width: 100%;
        height: 100%;
        background: url(../images/login-bg.jpg);
        position: fixed;
        background-size: 100%;
    }


    .tab-margin {
        margin: 10px 0px 10px 30px;
       /* width: 100% !important;*/
    }
    .info-box-new {
        width: 95%;
        float: left;
        border-bottom: 1px solid #CCC;
        margin: 0px 10px 0px 30px;
    }
.text-transform{text-transform:uppercase; margin: 10px 10px 10px 14px; font-weight:600;}
.bro-btn{margin: 30px 0px 20px 0px;}
.name-colo{color:#027bb2; margin:10px 0px 10px 0px;}
    .serq {
        width: 42px !important;
        height: 35px;
        background: gray;
        border-radius: 50em;
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        padding: 5px;
        margin: 0px 10px 20px 10px;
    }

  

    .ui-datepicker-calendar {
        display: none;
    }

    .margin-top {
        margin: -150px 0px 1px 0px;
    }

    .btn-color {
        padding: 8px 12px 8px 12px;
        background: #e22b2f;
        font-size: 13px;
        color: #fff;
        float: left;
        margin: 0px 5px 10px 5px;
        border-radius: 3px;
    }



    .filter > tr > th > input:first-child {
        font-size: 12px;
        font-weight: normal;
        width:95% !important;
    }

    th {
        text-align: center !important;
        font-size:14px;
        font-weight: normal !important;
    }

    .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border-bottom-width: 0px !important;
    }


    td{font-size:13px !important; text-align:left !important;}

    .btn-doc {
        float: right !important;
        margin: -25px 20px 10px 10px !important;
    }
    .new-head-doc {
        margin: 15px 10px 0px 10px !important;
    }


    button, input, select, textarea {
        border: 1px solid #c1c1c1 !important;

    }

    .placeholder {
        text-align: center;
    }
}
    
    .progress {
        margin: 12px 0px 10px 30px;
        height: 30px;
        background-color: #fbfbfc !important;
    }

    .progress-hroverview {
        margin: 12px 20px 10px 20px;
        height: 23px;
        background-color: #e9e9e9 !important;
    }

.make-sclet {
    width: 268px !important;
    float: left;
    margin: -4px 10px 5px -15px;
}

.bottom-maargn {
    margin: 10px 0px 20px 0px !important;
    z-index: 999999;
    position: relative;
}
.dl-horizontal dd {
    margin-left: 180px;
    padding: 2px 10px 1px 10px;
    margin: 5px 0px 0px 0px;
        margin-left: 0px;
    border: 1px solid #f1f1f1;
}
    .hrm-user-img {
        width: 20px;
        border-radius: 50em;
    }

.bg-filter-new {
    background:#BBF2FF !important;
}
.bg-filter {
    background:#EEFBFE !important;
}
.box-td {
    width: 7%;
}
.img-width{ width:25px; height:25px;}

    .spanhide {
        display: none;
    }
    /*a:hover, a:active, a:focus {
    color: #1f7fab !important;
}*/
    .colorRed {
        color: red;
    }

    .hrm-srm {
        background: #d2d2d2;
        padding: 7px 0px 5px 5px;
        margin: -33px 0px !important;
    }

    .modal-dialog-extend-timeout {
        margin: 0px auto !important;
    }

    .padding-top30 {
        padding-top: 30px;
    }

    .content-header {
        /* position: relative; */
        padding: 3px 2px 2px 2px !important;
    }

.center-td1 {
    text-align: center !important;
}
.new-roll {
    margin: 10px 10px 0px 0px !important;
}
    }

    .border-btn-none {
        border: none !important;
    }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #e7e7e7;
    border-bottom: 2px solid #01294e !important;
}
.margin-modalPopup {
    margin: 10em auto !important;
}




}

