﻿@model EmployeeInfoModel

@{
    Layout = null;
}
<div class="container-fluid">
    <h4 class="h4-new">@ViewResources.Resource.ManageEmployee</h4>
    <div class="user-img"><img src="@("/images/ProfileImages/" + (string.IsNullOrEmpty(Model.EmployeePicture)?"user-img.jpg":Model.EmployeePicture))"></div>
    <div class="pull-right pull-left-new">
        <div class="form-group pull-right mar-form pull-left-new">
            <label for="exampleInputEmail1" class="label-new">@ViewResources.Resource.EmployeeNumber</label>
            <input type="text" class="form-control" asp-for="@Model.EmployeeNumber" readonly>
        </div>
        <div class="form-group pull-right mar-form ">
            <label for="exampleInputEmail1" class="label-new">@ViewResources.Resource.EmployeeName</label>
            <input type="text" class="form-control" asp-for="@Model.EmployeeName" readonly>
        </div>
    </div>
</div>
